/* -------------- common colors -------------- */
/* --------- normalize --------- */
/* -------- fonts ---------*/
@font-face {
  font-family: 'gilroylight';
  src: url("../fonts/10177-webfont.woff2") format("woff2"), url("../fonts/10177-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sf_ui__textlight';
  src: url("../fonts/9485-webfont.woff2") format("woff2"), url("../fonts/9485-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* --------- mixins --------- */
/* --------- mixins --------- */
.container:before, .training__body:before, .chart-training__master:before, .history-popup__btns:before,
.parameters-popup__btns:before, .history__dropdown-item:before, .history__parameters-item--date:before, .index__footer:before, .data:before, .data__value:before, .tickets__header:before, .tickets__body:before, .container:after, .training__body:after, .chart-training__master:after, .history-popup__btns:after,
.parameters-popup__btns:after, .history__dropdown-item:after, .history__parameters-item--date:after, .index__footer:after, .data:after, .data__value:after, .tickets__header:after, .tickets__body:after {
  content: "";
  display: table;
}
.container:after, .training__body:after, .chart-training__master:after, .history-popup__btns:after,
.parameters-popup__btns:after, .history__dropdown-item:after, .history__parameters-item--date:after, .index__footer:after, .data:after, .data__value:after, .tickets__header:after, .tickets__body:after {
  clear: both;
}

/* --------- centered --------- */
/* --------- compass sprites --------- */
/* --------- responsive --------- */
/* --------- adjustment --------- */
/* --------- adjustment --------- */
* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: 100%;
}
@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

body {
  font: 18px/1.41 "gilroylight", "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100% !important;
  margin: 0;
  color: #fff;
  background: #2c2c2c;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none outside none;
}
ul li {
  padding: 0;
  left: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 26px 0 20px;
}
@media screen and (max-width: 480px) {
  footer {
    padding: 16px 0 6px;
  }
}

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  overflow: hidden;
}
.wrapper:after {
  content: "";
  display: block;
  height: 0;
}

.container {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 30px;
}
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

.page {
  position: relative;
  padding-top: 22px;
  text-align: center;
}

.page__btns {
  margin-bottom: 36px;
}

.page__btn {
  display: block;
  padding: 20px 0;
  font-size: 30px;
  text-transform: uppercase;
  color: #686868;
  border: 1px solid #686868;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.page__btn:hover {
  color: #eac731;
  border: 1px solid #eac731;
}
@media screen and (max-width: 480px) {
  .page__btn {
    padding: 10px 0;
    font-size: 16px;
  }
}

.title {
  display: inline-block;
  margin-bottom: 36px;
  font-size: 36px;
}
@media screen and (max-width: 480px) {
  .title {
    font-size: 24px;
  }
}

.img-cover {
  position: relative;
  display: block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-contain {
  position: relative;
  display: block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.img-fake {
  position: absolute;
  top: 0;
  left: -9999px;
}

.img-width {
  max-width: 100%;
}

.btn-input {
  display: block;
  width: 100%;
  padding: 27px 38px;
  text-transform: uppercase;
  font-size: 30px;
  color: #373737;
  background: #eac731;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .btn-input {
    padding: 10px 0;
    font-size: 16px;
  }
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.64);
}

/*---------- checkbox -----------*/
.checkbox {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  top: 0;
  left: -40px;
}

.checkbox__fake--radio:before {
  content: "";
  display: none;
  position: absolute;
}

/* -------------- misc icons sprite -------------- */
/* --------- sections --------- */
.account-popup {
  top: 50%;
  left: 0;
  right: 0;
  width: 580px;
  margin: auto;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  background: #2c2c2c;
  z-index: 10;
}
@media screen and (max-width: 480px) {
  .account-popup {
    left: 15px;
    right: 15px;
    width: auto;
  }
}

.account-popup--attention .account-popup__btn,
.account-popup--point .account-popup__btn {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 50%;
}

.account-popup--attention.open {
  display: block;
  position: fixed;
}

.account-popup--cancel.open {
  display: block;
  position: fixed;
}

.account-popup--error.open {
  display: block;
  position: fixed;
}

.account-popup__content {
  padding: 64px 64px;
}
@media screen and (max-width: 480px) {
  .account-popup__content {
    padding: 40px;
  }
}

.account-popup__title {
  font-size: 34px;
}
@media screen and (max-width: 480px) {
  .account-popup__title {
    font-size: 18px;
  }
}

.account-popup__desc {
  margin-top: 60px;
  font-size: 24px;
  font-family: 'sf_ui__textlight';
}
@media screen and (max-width: 480px) {
  .account-popup__desc {
    margin-top: 30px;
    font-size: 14px;
  }
}

.account-popup__btns {
  text-align: center;
}

.account-popup__btn {
  display: block;
  padding: 20px 0;
  font-size: 30px;
  text-transform: uppercase;
  color: #eac731;
  border-top: 1px solid #686868;
}
@media screen and (max-width: 480px) {
  .account-popup__btn {
    padding: 10px 0;
    font-size: 18px;
  }
}

.account-popup__btn--cancel {
  color: #686868;
  border-right: 1px solid #686868;
}

.account-popup--point {
  z-index: 10;
}

.account-popup__point-link {
  color: #fff;
}

.account__edit {
  position: absolute;
  top: 28px;
  right: 0;
  width: 33px;
  height: 34px;
  font-size: 0;
  background: url(../img/decor/edit.png) no-repeat;
  background-size: contain;
}
@media screen and (max-width: 480px) {
  .account__edit {
    width: 23px;
    height: 24px;
  }
}

.user {
  text-align: center;
}

.user__avatar {
  margin-bottom: 28px;
}

.user__avatar-img {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-position: 50% 0%;
}
@media screen and (max-width: 480px) {
  .user__avatar-img {
    width: 160px;
    height: 160px;
  }
}

.user__name {
  margin-bottom: 6px;
  font-size: 34px;
}
@media screen and (max-width: 480px) {
  .user__name {
    font-size: 22px;
  }
}

.user__club {
  margin-bottom: 28px;
}
@media screen and (max-width: 480px) {
  .user__club {
    font-size: 12px;
  }
}

.user__club-link {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .user__club-link {
    margin-bottom: 4px;
  }
}

.user__club-point__link {
  display: inline-block;
  color: #fff;
  opacity: .5;
}

.user__list {
  margin-bottom: 30px;
  font-size: 0;
}

.user__item {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 50%;
  text-align: right;
  font-size: 18px;
  border-right: 1px solid #fff;
}
.user__item:last-child {
  text-align: left;
  border-right: none;
}

.user__link {
  position: relative;
  display: inline-block;
  padding: 36px 0;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}
.user__link:hover {
  color: #eac731;
}
.user__link:before {
  content: "";
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (max-width: 480px) {
  .user__link {
    font-size: 12px;
  }
}

.user__link--tickets {
  padding-right: 60px;
}
.user__link--tickets:before {
  left: -66px;
  width: 46px;
  height: 61px;
  background: url(../img/decor/tickets.png) no-repeat;
  background-size: contain;
}
@media screen and (max-width: 480px) {
  .user__link--tickets {
    margin: 0 12% 0 0;
    padding: 22px 0 22px 40px;
  }
  .user__link--tickets:before {
    left: 0;
    height: 40px;
  }
}

.user__link__parameter {
  padding-left: 100px;
}
.user__link__parameter:before {
  left: 46px;
  width: 34px;
  height: 61px;
  background: url(../img/decor/parameter.png) no-repeat;
  background-size: contain;
}
@media screen and (max-width: 480px) {
  .user__link__parameter {
    margin: 0 0 0 12%;
    padding: 22px 0 22px 30px;
  }
  .user__link__parameter:before {
    left: 0;
    height: 40px;
  }
}

.training {
  text-align: left;
}

.training__list {
  margin: 0 -30px;
}
@media screen and (max-width: 480px) {
  .training__list {
    margin: 0 -15px;
  }
}

.training__item {
  padding: 25px 30px 0 30px;
  background: #686868;
}
.training__item:last-child {
  padding: 25px 30px;
}
@media screen and (max-width: 480px) {
  .training__item {
    padding: 10px 15px 0 15px;
  }
  .training__item:last-child {
    padding: 10px 15px;
  }
}

.training__header {
  padding: 16px 30px;
  position: relative;
  background: #2c2c2c;
}
@media screen and (max-width: 480px) {
  .training__header {
    padding: 8px 10px;
  }
}

.training__title {
  position: relative;
  padding-left: 44px;
  font-size: 24px;
  text-transform: uppercase;
}
.training__title:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 18px;
  height: 18px;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 4px solid #1fcb69;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
@media screen and (max-width: 480px) {
  .training__title {
    padding-left: 28px;
    font-size: 16px;
  }
  .training__title:before {
    width: 12px;
    height: 12px;
    border: 3px solid #1fcb69;
  }
}

.training__title--pink:before {
  border: 4px solid #f2a2d2;
}

.training__close {
  position: absolute;
  top: 50%;
  right: 20px;
  display: block;
  width: 22px;
  height: 22px;
  font-size: 0;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.training__close:before, .training__close:after {
  content: "";
  position: absolute;
  top: 9px;
  right: 0;
  width: 24px;
  height: 1px;
  background: #acacac;
}
.training__close:before {
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.training__close:after {
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media screen and (max-width: 480px) {
  .training__close {
    right: 10px;
    width: 16px;
    height: 16px;
  }
  .training__close:before, .training__close:after {
    width: 18px;
  }
}

.training__body {
  padding: 22px 30px 14px;
  background: #373737;
}
@media screen and (max-width: 480px) {
  .training__body {
    padding: 10px 10px;
  }
}

.training__left {
  float: left;
  width: 50%;
  padding-right: 10px;
}

.training__right {
  float: left;
  width: 50%;
  padding-left: 10px;
}

.training__calendar,
.training__date {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

.training__calendar {
  position: relative;
  width: 48px;
  height: 50px;
  padding-top: 10px;
  text-align: center;
  font-size: 28px;
}
.training__calendar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 50px;
  background: url(../img/decor/calendar.png) no-repeat;
  background-size: contain;
}
@media screen and (max-width: 480px) {
  .training__calendar {
    width: 24px;
    height: 25px;
    padding-top: 5px;
    font-size: 16px;
  }
  .training__calendar:after {
    width: 24px;
    height: 25px;
  }
}

.training__date {
  margin-left: 20px;
}

.training__date-title {
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .training__date-title {
    font-size: 10px;
  }
}

.training__date-value {
  font-size: 28px;
}
@media screen and (max-width: 480px) {
  .training__date-value {
    font-size: 16px;
  }
}

.training__time {
  position: relative;
  margin-bottom: 10px;
  padding-left: 32px;
}
.training__time:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../img/decor/time.png) no-repeat;
  background-size: contain;
}
@media screen and (max-width: 480px) {
  .training__time {
    padding-left: 22px;
    font-size: 12px;
  }
  .training__time:before {
    width: 14px;
    height: 14px;
  }
}

.training__point {
  position: relative;
  padding-left: 36px;
}
.training__point:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 22px;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../img/decor/point.png) no-repeat;
  background-size: contain;
}
@media screen and (max-width: 480px) {
  .training__point {
    padding-left: 22px;
    font-size: 12px;
  }
  .training__point:before {
    width: 12px;
    height: 16px;
  }
}

.burger {
  position: absolute;
  top: 0;
  left: -9999px;
  bottom: 0;
  width: 480px;
  width: 75%;
  padding-top: 120px;
  background: #2c2c2c;
  z-index: 1;
}
@media screen and (max-width: 480px) {
  .burger {
    padding-top: 68px;
  }
}

.burger.open {
  left: 0;
}

.burger__close {
  display: inline-block;
  position: absolute;
  top: 28px;
  left: 34px;
  width: 30px;
  height: 30px;
  font-size: 0;
}
.burger__close:before, .burger__close:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 34px;
  height: 2px;
  background: #fff;
}
.burger__close:before {
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.burger__close:after {
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media screen and (max-width: 480px) {
  .burger__close {
    left: 12px;
    width: 22px;
    height: 22px;
  }
  .burger__close:before, .burger__close:after {
    width: 22px;
    height: 1px;
  }
}

.burger__list {
  position: relative;
  margin-bottom: 72px;
}
.burger__list:last-child:after {
  content: none;
}
.burger__list:after {
  content: "";
  position: absolute;
  bottom: -36px;
  left: 88px;
  right: 0;
  height: 1px;
  background: url(../img/decor/separator.png) no-repeat;
  background-size: contain;
}
@media screen and (max-width: 480px) {
  .burger__list {
    margin-bottom: 50px;
  }
  .burger__list:after {
    bottom: -26px;
    left: 48px;
  }
}

.burger__item {
  position: relative;
  margin-bottom: 12px;
}
.burger__item:last-child {
  margin-bottom: 0;
}
.burger__item.curent .burger__link {
  color: #eac731;
}
.burger__item.curent .burger__link:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: #eac731;
}
@media screen and (max-width: 480px) {
  .burger__item.curent .burger__link:before {
    width: 3px;
  }
}
@media screen and (max-width: 480px) {
  .burger__item {
    margin-bottom: 6px;
  }
}

.burger__link {
  margin-left: 88px;
  font-size: 34px;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .burger__link {
    margin-left: 48px;
    font-size: 16px;
  }
}

.buy__item {
  text-align: left;
  margin-bottom: 40px;
}

.buy__checkbox {
  position: relative;
  display: block;
  padding: 14px 32px 14px 70px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .buy__checkbox {
    padding: 12px 20px 12px 50px;
  }
}

.buy__checkbox-fake {
  position: absolute;
  top: 23px;
  left: 28px;
  width: 22px;
  height: 22px;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: inherit;
}
.buy__checkbox-fake:before {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 14px;
  height: 10px;
  background: url(../img/decor/che.png) no-repeat;
}
@media screen and (max-width: 480px) {
  .buy__checkbox-fake {
    top: 17px;
    left: 15px;
    width: 18px;
    height: 18px;
  }
}

.checkbox__input:checked + .buy__checkbox-fake {
  background: #eac731;
  border: #eac731;
}
.checkbox__input:checked + .buy__checkbox-fake:before {
  display: block;
}
.checkbox__input:checked + .buy__checkbox-fake .buy__checkbox {
  border: 1px solid #eac731;
}

.buy__checkbox-title {
  font-size: 28px;
}
@media screen and (max-width: 480px) {
  .buy__checkbox-title {
    font-size: 16px;
  }
}

.buy__desc {
  padding: 20px 32px;
  font-size: 24px;
  background: #373737;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 480px) {
  .buy__desc {
    padding: 14px 20px;
    font-size: 14px;
  }
}

.buy__btns {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.buy__total {
  padding: 22px 0;
  font-size: 34px;
  color: #fff;
  background: #686868;
}
@media screen and (max-width: 480px) {
  .buy__total {
    padding: 10px 0;
    font-size: 20px;
  }
}

.buy__total-text,
.buy__total-price {
  margin-left: 8px;
}

.chart__club-point {
  position: relative;
  margin-bottom: 38px;
}

.chart__club-point__link {
  position: relative;
  font-size: 30px;
  color: #fff;
}
.chart__club-point__link:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -50px;
  width: 29px;
  height: 16px;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../img/decor/history_title-toggle.png) no-repeat;
  background-size: contain;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 480px) {
  .chart__club-point__link {
    margin-bottom: 36px;
    font-size: 16px;
  }
  .chart__club-point__link:after {
    right: -26px;
    width: 14px;
    height: 8px;
  }
}

.chart__tabs {
  margin-bottom: 40px;
}

.chart__tabs-list {
  font-size: 0;
}

.chart__tabs-item {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 50%;
  font-size: 18px;
}
.chart__tabs-item:last-child {
  display: block;
  width: 100%;
}
.chart__tabs-item.active .chart__tabs-link {
  border: 1px solid #eac731;
  background: #eac731;
}

.chart__tabs-link {
  display: block;
  padding: 8px 0;
  text-transform: uppercase;
  color: #686868;
  border: 1px solid #686868;
}
@media screen and (max-width: 480px) {
  .chart__tabs-link {
    font-size: 12px;
  }
}

.chart__content-item {
  display: none;
}
.chart__content-item.active {
  display: block;
}

.chart-date {
  margin-bottom: 20px;
}

.chart-date__list {
  font-size: 0;
}
.chart-date__list .slick-list {
  overflow: visible !important;
}

.chart-date__item {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 18px;
}
.chart-date__item.slick-current .chart-date__link {
  color: #eac731;
}

.chart-date__link {
  font-size: 28px;
  color: #686868;
}
@media screen and (max-width: 480px) {
  .chart-date__link {
    font-size: 16px;
  }
}

.chart-training__item:last-child .chart-training__link {
  border-bottom: none;
}
.chart-training__item.active {
  margin: 0 -30px;
  background: #373737;
}
.chart-training__item.active .chart-training__link {
  padding: 14px 30px;
}
.chart-training__item.active .chart-training__link:after {
  right: 30px;
}

.chart-training__link {
  position: relative;
  display: block;
  padding: 14px 0;
  text-align: left;
  border-bottom: 1px solid #686868;
  outline: none;
}
.chart-training__link:after {
  content: "";
  position: absolute;
  top: 32%;
  right: 0;
  width: 29px;
  height: 16px;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../img/decor/history-toggle.png) no-repeat;
  background-size: contain;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 480px) {
  .chart-training__link {
    font-size: 16px;
  }
  .chart-training__link:after {
    top: 38%;
    width: 14px;
    height: 10px;
  }
}

.chart-training__title {
  margin-bottom: 4px;
  font-size: 30px;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .chart-training__title {
    font-size: 16px;
  }
}

.chart-training__date {
  position: relative;
  padding-left: 32px;
  font-size: 24px;
  color: #fff;
}
.chart-training__date:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../img/decor/time.png) no-repeat;
  background-size: contain;
}
@media screen and (max-width: 480px) {
  .chart-training__date {
    padding-left: 22px;
    font-size: 12px;
  }
  .chart-training__date:before {
    width: 14px;
    height: 14px;
  }
}

.chart-training__wrapp {
  display: none;
}

.chart-training__content {
  padding: 18px 36px 0 74px;
  text-align: left;
}
@media screen and (max-width: 480px) {
  .chart-training__content {
    padding: 18px 36px 0 50px;
  }
}

.chart-training__name {
  text-transform: uppercase;
  font-size: 24px;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .chart-training__name {
    font-size: 16px;
  }
}

.chart-training__duration {
  margin-bottom: 16px;
}
@media screen and (max-width: 480px) {
  .chart-training__duration {
    font-size: 12px;
  }
}

.chart-training__desc {
  margin-bottom: 26px;
  font-size: 24px;
}
@media screen and (max-width: 480px) {
  .chart-training__desc {
    font-size: 16px;
  }
}

.chart-training__master {
  margin-bottom: 22px;
}

.master__left {
  float: left;
  width: 25%;
}
@media screen and (max-width: 480px) {
  .master__left {
    width: 30%;
  }
}

.master__right {
  float: right;
  width: 75%;
  text-align: left;
}
@media screen and (max-width: 480px) {
  .master__right {
    width: 70%;
  }
}

.master__avatar {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #686868;
}
@media screen and (max-width: 480px) {
  .master__avatar {
    width: 60px;
    height: 60px;
  }
}

.master__name {
  margin-bottom: 16px;
  text-transform: uppercase;
  font-size: 24px;
}
@media screen and (max-width: 480px) {
  .master__name {
    font-size: 16px;
  }
}

.master__desc {
  margin-bottom: 18px;
}
@media screen and (max-width: 480px) {
  .master__desc {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .master__skills {
    font-size: 12px;
  }
}

.confirm {
  position: relative;
  min-height: 855px;
  height: 100vh;
}
@media screen and (max-width: 480px) {
  .confirm {
    min-height: auto;
  }
}

.confirm__desc {
  display: inline-block;
  margin-bottom: 78px;
  font-size: 24px;
}
@media screen and (max-width: 480px) {
  .confirm__desc {
    width: 265px;
    margin-bottom: 30px;
    font-size: 12px;
  }
}

.confirm__code {
  margin-bottom: 75px;
}

.confirm__code-list {
  margin: 0 -8px 26px;
  font-size: 0;
}

.confirm__code-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 0 8px;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .confirm__code-item {
    padding: 0 2px;
  }
}

.confirm__code-link {
  display: block;
  width: 60px;
  height: 88px;
  line-height: 88px;
  background: #686868;
}
@media screen and (max-width: 480px) {
  .confirm__code-link {
    width: 32px;
    height: 46px;
    line-height: 46px;
  }
}

.confirm__code-value {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 60px;
  color: #eac731;
}
@media screen and (max-width: 480px) {
  .confirm__code-value {
    font-size: 30px;
  }
}

.confirm__code-desc {
  margin-bottom: 58px;
  font-size: 18px;
  color: #686868;
}
@media screen and (max-width: 480px) {
  .confirm__code-desc {
    margin-bottom: 30px;
    font-size: 10px;
  }
}

.confirm__code-again {
  font-size: 24px;
  color: #eac731;
}

.confirm__keyboard {
  display: none;
  position: absolute;
  margin: 0 -30px;
  padding: 28px 48px;
  background: #373737;
}
.confirm__keyboard.active {
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 480px) {
  .confirm__keyboard {
    padding: 12px 70px;
  }
}

.confirm__keyboard-list {
  font-size: 0;
}

.confirm__keyboard-item {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 33.3%;
  height: 100px;
  padding: 8px;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .confirm__keyboard-item {
    height: 58px;
  }
}

.confirm__keyboard-link {
  display: block;
  font-size: 60px;
  color: #fff;
}
.confirm__keyboard-link:hover {
  color: #eac731;
}
@media screen and (max-width: 480px) {
  .confirm__keyboard-link {
    font-size: 30px;
  }
}

.confirm__keyboard-link--remove {
  position: relative;
  width: 100%;
  height: 100%;
}
.confirm__keyboard-link--remove:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 44px;
  height: 32px;
  background: url(../img/decor/remove.png) no-repeat;
  background-size: contain;
}
@media screen and (max-width: 480px) {
  .confirm__keyboard-link--remove:after {
    width: 28px;
    height: 21px;
  }
}

.header__burger,
.header__back {
  position: absolute;
  top: 28px;
  z-index: 1;
}

.burger__toggle {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 32px;
  background: url(../img/decor/burger.png) no-repeat;
  background-size: contain;
}
@media screen and (max-width: 480px) {
  .burger__toggle {
    width: 24px;
    height: 22px;
  }
}

.burger__notice {
  position: absolute;
  top: -5px;
  right: -7px;
  width: 12px;
  height: 12px;
  background: #eac731;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
@media screen and (max-width: 480px) {
  .burger__notice {
    top: -3px;
    right: -5px;
    width: 8px;
    height: 8px;
  }
}

.back__link {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 24px;
  background: url(../img/decor/back.png) no-repeat;
  background-size: contain;
}
@media screen and (max-width: 480px) {
  .back__link {
    width: 24px;
    height: 22px;
  }
}

.history-popup,
.account-popup--point {
  display: none;
  top: 50%;
  left: 0;
  right: 0;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #373737;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
}
.history-popup.open,
.account-popup--point.open {
  display: block;
  position: fixed;
}

.histor-popup__date-list,
.account-popup__point-list {
  position: relative;
  margin-bottom: 40px;
}
.histor-popup__date-list:before, .histor-popup__date-list:after,
.account-popup__point-list:before,
.account-popup__point-list:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 86px;
}
.histor-popup__date-list:before,
.account-popup__point-list:before {
  top: 0;
  background: linear-gradient(to bottom, #373737 25%, rgba(55, 55, 55, 0.5) 100%);
}
.histor-popup__date-list:after,
.account-popup__point-list:after {
  bottom: 0;
  background: linear-gradient(to top, #373737 25%, rgba(55, 55, 55, 0.5) 100%);
}
@media screen and (max-width: 480px) {
  .histor-popup__date-list:before, .histor-popup__date-list:after,
  .account-popup__point-list:before,
  .account-popup__point-list:after {
    height: 50px;
  }
}

.histor-popup__date-item,
.account-popup__point-item {
  padding: 14px 0px 20px 0;
  text-align: center;
  font-size: 32px;
}
.histor-popup__date-item:last-child,
.account-popup__point-item:last-child {
  padding: 14px 0px 14px 0;
}
.histor-popup__date-item.prev,
.account-popup__point-item.prev {
  padding: 11px 0px 15px 0;
  text-align: center;
  font-size: 34px;
}
.histor-popup__date-item.prev .histor-popup__date-month,
.account-popup__point-item.prev .histor-popup__date-month {
  padding: 15px 100px;
}
.histor-popup__date-item.active,
.account-popup__point-item.active {
  padding: 14px 0px 20px 0;
  font-size: 36px;
  background: #2c2c2c;
}
.histor-popup__date-item.active .histor-popup__date-month,
.account-popup__point-item.active .histor-popup__date-month {
  padding: 15px 108px;
}
@media screen and (max-width: 480px) {
  .histor-popup__date-item,
  .account-popup__point-item {
    padding: 8px 0px 10px 0;
    font-size: 18px;
  }
  .histor-popup__date-item:last-child,
  .account-popup__point-item:last-child {
    padding: 8px 0px 8px 0;
  }
  .histor-popup__date-item.prev,
  .account-popup__point-item.prev {
    padding: 8px 0px 12px 0;
    font-size: 20px;
  }
  .histor-popup__date-item.prev .histor-popup__date-month,
  .account-popup__point-item.prev .histor-popup__date-month {
    padding: 0 70px;
  }
  .histor-popup__date-item.active,
  .account-popup__point-item.active {
    padding: 10px 0px 14px 0;
    font-size: 22px;
  }
  .histor-popup__date-item.active .histor-popup__date-month,
  .account-popup__point-item.active .histor-popup__date-month {
    padding: 0 70px;
  }
}

.histor-popup__date-month {
  padding: 15px 94px;
}
@media screen and (max-width: 480px) {
  .histor-popup__date-month {
    padding: 0 70px;
  }
}

.history-popup__btn,
.parameters-popup__btn {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 50%;
  padding: 20px 0;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #eac731;
  border-top: 1px solid #686868;
}
@media screen and (max-width: 480px) {
  .history-popup__btn,
  .parameters-popup__btn {
    padding: 10px 0;
    font-size: 18px;
  }
}

.history-popup__btn--cancel,
.parameters-popup__btn--cancel {
  color: #686868;
  border-right: 1px solid #686868;
}

.history__tabs {
  margin-bottom: 50px;
}
@media screen and (max-width: 480px) {
  .history__tabs {
    margin-bottom: 30px;
  }
}

.history__tabs-list {
  font-size: 0;
}

.history__tabs-item {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 18px;
}
.history__tabs-item.active .history__tabs-link {
  color: #686868;
  border: 1px solid #eac731;
  background: #eac731;
}

.history__tabs-link {
  display: block;
  width: 214px;
  padding: 8px 0;
  text-transform: uppercase;
  color: #686868;
  border: 1px solid #686868;
}
@media screen and (max-width: 480px) {
  .history__tabs-link {
    width: 126px;
    padding: 4px 0;
    font-size: 12px;
  }
}

.history__content {
  text-align: left;
  margin-bottom: 72px;
}
@media screen and (max-width: 480px) {
  .history__content {
    margin-bottom: 50px;
  }
}

.history__content-item {
  display: none;
}
.history__content-item.active {
  display: block;
}

.history__parameters {
  text-align: center;
}

.history__parameters-list {
  margin: 0 -30px;
}

.history__parameters-item {
  position: relative;
  padding-bottom: 4px;
  text-align: left;
}
.history__parameters-item.active {
  background: #373737;
}
.history__parameters-item.active:after {
  background: transparent;
}
.history__parameters-item.active .history__parameters-link:after {
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.history__parameters-item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 30px;
  right: 30px;
  height: 1px;
  background: #686868;
}

.history__parameters-link {
  display: block;
  position: relative;
  padding: 15px 30px;
  font-size: 30px;
  color: #fff;
}
.history__parameters-link:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 30px;
  width: 29px;
  height: 16px;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../img/decor/history-toggle.png) no-repeat;
  background-size: contain;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 480px) {
  .history__parameters-link {
    font-size: 16px;
  }
  .history__parameters-link:after {
    width: 18px;
    height: 10px;
  }
}

.history__dropdown-list {
  display: none;
  margin: 8px 0 0 43px;
}

.history__dropdown-item {
  margin-bottom: 15px;
  font-size: 24px;
}
@media screen and (max-width: 480px) {
  .history__dropdown-item {
    font-size: 16px;
  }
}

.history__dropdown-left {
  float: left;
  width: 50%;
}

.history__dropdown-right {
  float: right;
  width: 50%;
  text-align: right;
}

.history__dropdown-value {
  margin-right: 48px;
}

.history__dropdown-value_text {
  margin-left: 6px;
}

.history__parameters-title {
  position: relative;
  display: inline-block;
  margin-bottom: 48px;
  font-size: 30px;
  cursor: pointer;
}
.history__parameters-title:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -50px;
  width: 29px;
  height: 16px;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../img/decor/history_title-toggle.png) no-repeat;
  background-size: contain;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 480px) {
  .history__parameters-title {
    margin-bottom: 36px;
    font-size: 16px;
  }
  .history__parameters-title:after {
    right: -26px;
    width: 14px;
    height: 8px;
  }
}

.history__parameters-item--date {
  margin-bottom: 30px;
}
@media screen and (max-width: 480px) {
  .history__parameters-item--date {
    margin-bottom: 20px;
  }
}

.history__parameters-key {
  float: left;
  font-size: 30px;
}
@media screen and (max-width: 480px) {
  .history__parameters-key {
    font-size: 16px;
  }
}

.history__parameters-value {
  float: right;
  margin-right: 6px;
  font-size: 30px;
}
@media screen and (max-width: 480px) {
  .history__parameters-value {
    font-size: 16px;
  }
}

.history__parameters-value_text {
  margin-left: 6px;
  font-size: 26px;
}
@media screen and (max-width: 480px) {
  .history__parameters-value_text {
    font-size: 14px;
  }
}

.wrapper--index:after {
  height: 150px;
}
@media screen and (max-width: 480px) {
  .wrapper--index:after {
    height: 77px;
  }
}

.index {
  padding-bottom: 23px;
}

.index__logo {
  margin: 92px 0 124px;
}
@media screen and (max-width: 480px) {
  .index__logo {
    margin: 30px 0 50px;
  }
}

.logo__link {
  display: inline-block;
  width: 334px;
}
@media screen and (max-width: 480px) {
  .logo__link {
    width: 56%;
  }
}

.logo__img {
  max-width: 100%;
}

.logo__text {
  font-size: 0;
}

.index__barcode {
  position: relative;
  width: 430px;
  height: 232px;
  margin: 0 auto 128px;
  padding: 23px;
  background: #fff;
}
@media screen and (max-width: 480px) {
  .index__barcode {
    width: 64vw;
    height: 34vw;
    margin: 0 auto 100px;
    padding: 0 10px;
  }
}

.barcode {
  position: relative;
  top: 50%;
  max-width: 100%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.footer--index {
  margin-top: -150px;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .footer--index {
    margin-top: -77px;
  }
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}

.footer-center {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 18%;
  right: 18%;
  bottom: 0;
  margin: auto;
}

.footer-center__link {
  display: inline-block;
  margin-top: 57px;
  font-size: 18px;
  color: #686868;
}
@media screen and (max-width: 480px) {
  .footer-center__link {
    margin-top: 16px;
    font-size: 12px;
  }
}

.footer-left__link,
.footer-right__link {
  display: inline-block;
  width: 88px;
  height: 88px;
  background: #eac731;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
@media screen and (max-width: 480px) {
  .footer-left__link,
  .footer-right__link {
    width: 48px;
    height: 48px;
  }
}

.footer-right__link {
  display: inline-block;
  background: #1fcb69;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.footer-left__link {
  background: url(../img/icons/share.png) no-repeat;
  background-size: contain;
}

.footer-right__link {
  background: url(../img/icons/call.png) no-repeat;
  background-size: contain;
}

.login {
  position: relative;
  min-height: 855px;
  height: 100vh;
  margin: 0 -30px;
  text-align: center;
  background: url(../img/login-bg.jpg) no-repeat 65% 50%;
  background-size: cover;
}
@media screen and (max-width: 480px) {
  .login {
    min-height: auto;
  }
}

.login-bg {
  width: 100%;
  height: 100%;
  padding: 0 0 30px 0;
  background-color: rgba(29, 29, 29, 0.66);
}
@media screen and (max-width: 480px) {
  .login-bg {
    padding: 0 0 15px 0;
  }
}

.login__logo {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
}

.logo__enter {
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 30px;
}
.logo__enter.active {
  bottom: 286px;
}
@media screen and (max-width: 480px) {
  .logo__enter {
    left: 30px;
    right: 30px;
    bottom: 15px;
  }
  .logo__enter.active {
    bottom: 286px;
  }
}

.logo__enter-value {
  width: 100%;
  margin-bottom: 30px;
  padding: 27px 36px;
  font-size: 30px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
}
@media screen and (max-width: 480px) {
  .logo__enter-value {
    margin-bottom: 15px;
    padding: 10px 18px;
    font-size: 16px;
  }
}

.parameters-popup {
  top: 50%;
  left: 0;
  right: 0;
  width: 580px;
  margin: auto;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  background: #2c2c2c;
  z-index: 10;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 480px) {
  .parameters-popup {
    width: auto;
  }
}

.parameters-popup.open {
  display: block;
  position: fixed;
}

.parameters-popup__title {
  font-size: 30px;
}

.parameters-popup__link {
  font-size: 34px;
  color: #fff;
}

.parameters-popup__btns .account-popup__btn {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

.parameters__data {
  margin-bottom: 46px;
}

.data {
  margin-bottom: 30px;
  background: url(../img/parameters/parameters-bg.png) no-repeat 50% 8%;
  background-size: contain;
}

.data__left {
  float: left;
  width: 50%;
  padding-right: 152px;
  text-align: right;
}
.data__left .data__item {
  margin-bottom: 30px;
}
@media screen and (max-width: 480px) {
  .data__left {
    padding-right: 86px;
  }
}
.data__left .data__value-number {
  direction: rtl;
}
.data__left .data__value-text {
  margin-left: 24px;
}
@media screen and (max-width: 480px) {
  .data__left .data__value-text {
    margin-left: 2px;
  }
}

.data__right {
  float: right;
  width: 50%;
  padding-left: 152px;
  text-align: left;
}
.data__right .data__item {
  margin-bottom: 2px;
}
@media screen and (max-width: 480px) {
  .data__right .data__item {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 480px) {
  .data__right {
    padding-left: 86px;
  }
}

.data__list {
  margin-top: 4px;
}
@media screen and (max-width: 480px) {
  .data__list {
    margin-top: 0;
  }
}

.data__item:last-child {
  margin-bottom: 0;
}

.data__key {
  text-transform: uppercase;
  font-size: 24px;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .data__key {
    font-size: 14px;
  }
}

.data__value {
  display: inline-block;
  color: #eac731;
}

.data__value-number {
  float: left;
  width: 64px;
  font-size: 36px;
  color: #eac731;
  background: transparent;
  border: none;
  font-family: 'gilroylight';
}
@media screen and (max-width: 480px) {
  .data__value-number {
    width: 36px;
    font-size: 22px;
  }
}

.data__value-text {
  float: right;
  margin-top: 9px;
  font-size: 24px;
}
@media screen and (max-width: 480px) {
  .data__value-text {
    margin-top: 7px;
    font-size: 14px;
  }
}

.data__history-link {
  font-size: 30px;
  color: #686868;
}
.data__history-link:hover {
  color: #eac731;
}
@media screen and (max-width: 480px) {
  .data__history-link {
    font-size: 18px;
  }
}

.parameters__index {
  margin-bottom: 62px;
}

.index__round {
  position: relative;
  width: 250px;
  height: 250px;
  margin: auto;
  border: 1px solid #eac731;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.index__round:before, .index__round:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 196px;
  height: 33px;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../img/decor/wave.png) no-repeat;
  background-size: contain;
}
.index__round:before {
  right: 100%;
}
.index__round:after {
  left: 100%;
}
@media screen and (max-width: 480px) {
  .index__round {
    width: 160px;
    height: 160px;
  }
}

.index__mass {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.index__key {
  font-size: 60px;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .index__key {
    font-size: 38px;
  }
}

.index__value {
  font-size: 76px;
  color: #eac731;
}
@media screen and (max-width: 480px) {
  .index__value {
    font-size: 46px;
  }
}

.parameters__advice {
  margin-bottom: 30px;
}

.advice__list {
  margin: 0 20px;
  font-size: 0;
}
@media screen and (max-width: 480px) {
  .advice__list {
    margin: 0;
  }
}

.advice__item {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 25%;
  font-size: 18px;
}
.advice__item.current .advice__title {
  color: #eac731;
}
@media screen and (max-width: 480px) {
  .advice__item {
    padding: 0 10px;
    font-size: 10px;
  }
}

.advice__link {
  display: inline-block;
}
@media screen and (max-width: 480px) {
  .advice__link {
    height: 120px;
  }
}

.advice__img-wrapp {
  margin-bottom: 10px;
}
@media screen and (max-width: 480px) {
  .advice__img-wrapp {
    height: 100px;
    margin-bottom: 6px;
  }
}

.advice__img {
  max-height: 100%;
}

.advice__title {
  color: #fff;
}

.tickets__list {
  margin: 0 -30px;
}
@media screen and (max-width: 480px) {
  .tickets__list {
    margin: 0 -15px;
  }
}

.tickets__item {
  padding: 25px 30px 0 30px;
  background: #686868;
}
.tickets__item:last-child {
  padding: 25px 30px 150px;
}
@media screen and (max-width: 480px) {
  .tickets__item {
    padding: 10px 15px 0 15px;
  }
  .tickets__item:last-child {
    padding: 10px 15px;
  }
}

.tickets__header {
  padding: 16px 30px;
  position: relative;
  background: #2c2c2c;
}
@media screen and (max-width: 480px) {
  .tickets__header {
    padding: 8px 10px;
  }
}

.tickets__title {
  float: left;
  text-transform: uppercase;
  font-size: 28px;
  color: #eac731;
}
@media screen and (max-width: 480px) {
  .tickets__title {
    font-size: 16px;
  }
}

.tickets__extend {
  float: right;
  margin-top: 12px;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .tickets__extend {
    margin-top: 2px;
    font-size: 12px;
  }
}

.tickets__body {
  padding: 20px 30px 20px;
  background: #373737;
}
@media screen and (max-width: 480px) {
  .tickets__body {
    padding: 10px 10px;
  }
}

.tickets__left,
.tickets__right {
  float: left;
  width: 50%;
  padding-left: 34px;
  text-align: left;
}
@media screen and (max-width: 480px) {
  .tickets__left,
  .tickets__right {
    padding-left: 0;
  }
}

.tickets__left {
  position: relative;
}
.tickets__left:after {
  content: "";
  position: absolute;
  top: -12px;
  right: 0;
  width: 1px;
  height: 84px;
  background: #686868;
}
@media screen and (max-width: 480px) {
  .tickets__left:after {
    top: -5px;
    height: 50px;
  }
}

.tickets__visit-value {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-align: center;
}

.tickets__visit-round {
  position: relative;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #eac731;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #686868 0%);
}
.tickets__visit-round:before {
  content: "";
  display: block;
  margin-left: 50%;
  height: 100%;
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -ms-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left;
  -webkit-border-radius: 0 100% 100% 0/50%;
  -moz-border-radius: 0 100% 100% 0/50%;
  border-radius: 0 100% 100% 0/50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: inherit;
  background: #eac731;
  animation: spin 50s linear infinite, bg 100s step-end infinite;
  animation-play-state: paused;
  animation-delay: inherit;
}
.tickets__visit-round:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: block;
  width: 58px;
  height: 58px;
  margin: auto;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #373737;
}
@media screen and (max-width: 480px) {
  .tickets__visit-round {
    width: 40px;
    height: 40px;
  }
  .tickets__visit-round:after {
    width: 38px;
    height: 38px;
  }
}

@keyframes spin {
  to {
    -moz-transform: rotate(0.5turn);
    -o-transform: rotate(0.5turn);
    -ms-transform: rotate(0.5turn);
    -webkit-transform: rotate(0.5turn);
    transform: rotate(0.5turn);
  }
}
@keyframes bg {
  50% {
    background: #686868;
  }
}
.tickets__visit-number {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font-size: 36px;
  color: #eac731;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (max-width: 480px) {
  .tickets__visit-number {
    font-size: 24px;
  }
}

.tickets__visit-title {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 130px;
  margin-left: 14px;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .tickets__visit-title {
    width: 80px;
    margin-left: 0;
    font-size: 12px;
  }
}

.tickets__date {
  position: relative;
  margin-top: 4px;
  padding: 0 0 0 68px;
  text-transform: uppercase;
}
.tickets__date:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 48px;
  height: 50px;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../img/decor/calendar.png) no-repeat;
  background-size: contain;
}
@media screen and (max-width: 480px) {
  .tickets__date {
    font-size: 12px;
    padding: 0 0 0 48px;
  }
  .tickets__date:before {
    width: 24px;
    height: 25px;
  }
}

.tickets__btns {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
