/* -------------- common colors -------------- */
/* --------- normalize --------- */
/* -------- fonts ---------*/
@font-face {
  font-family: 'gilroylight';
  src: url("../fonts/10177-webfont.woff2") format("woff2"), url("../fonts/10177-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sf_ui__textlight';
  src: url("../fonts/9485-webfont.woff2") format("woff2"), url("../fonts/9485-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* --------- mixins --------- */
/* --------- mixins --------- */
.container:before, .training__body:before, .container:after, .training__body:after {
  content: "";
  display: table;
}
.container:after, .training__body:after {
  clear: both;
}

/* --------- centered --------- */
/* --------- compass sprites --------- */
/* --------- responsive --------- */
/* --------- adjustment --------- */
/* --------- adjustment --------- */
* {
  box-sizing: border-box;
}

html {
  width: 100%;
  font-size: 100%;
}
@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

body {
  font: 18px/1.41 "gilroylight", "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100% !important;
  margin: 0;
  color: #fff;
  background: #2c2c2c;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none outside none;
}
ul li {
  padding: 0;
  left: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

footer {
  position: relative;
  height: 0;
  margin-top: 0;
}

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  overflow: hidden;
}
.wrapper:after {
  content: "";
  display: block;
  height: 0;
}

.container {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 30px;
}
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

.page {
  padding-top: 34px;
  text-align: center;
}

.title {
  margin-bottom: 26px;
  font-size: 36px;
}

.img-cover {
  position: relative;
  display: block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-contain {
  position: relative;
  display: block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.img-fake {
  position: absolute;
  top: 0;
  left: -9999px;
}

.img-width {
  max-width: 100%;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.64);
}

/*---------- checkbox -----------*/
.checkbox {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  top: 0;
  left: -40px;
}

.checkbox__input:checked + .checkbox__fake::before {
  display: block;
}

.checkbox__input:checked + .checkbox__fake--radio {
  background: #a5d2fb;
}
.checkbox__input:checked + .checkbox__fake--radio::before {
  display: block;
}

.checkbox__fake--radio:before {
  content: "";
  display: none;
  position: absolute;
}

/* -------------- misc icons sprite -------------- */
/* --------- sections --------- */
.account-popup {
  display: none;
  top: 50%;
  left: 0;
  right: 0;
  width: 580px;
  margin: auto;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  background: #2c2c2c;
  z-index: 10;
}

.account-popup--attention.open {
  display: block;
  position: fixed;
}
.account-popup--attention.open .account-popup__btn {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 50%;
}

.account-popup--cancel.open {
  display: block;
  position: fixed;
}

.account-popup--error.open {
  display: block;
  position: fixed;
}

.account-popup__content {
  padding: 64px 64px;
}

.account-popup__title {
  font-size: 34px;
}

.account-popup__desc {
  margin-top: 60px;
  font-size: 24px;
  font-family: 'sf_ui__textlight';
}

.account-popup__btn {
  display: block;
  padding: 20px 0;
  font-size: 30px;
  text-transform: uppercase;
  color: #eac731;
  border-top: 1px solid #686868;
}

.account-popup__btn--cancel {
  color: #686868;
  border-right: 1px solid #686868;
}

.account__edit {
  position: absolute;
  top: 40px;
  right: 32px;
  width: 33px;
  height: 34px;
  font-size: 0;
  background: url(../img/decor/edit.png) no-repeat;
}

.user {
  text-align: center;
}

.user__avatar {
  margin-bottom: 28px;
}

.user__avatar-img {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-position: 50% 0%;
}
@media screen and (max-width: 480px) {
  .user__avatar-img {
    width: 160px;
    height: 160px;
  }
}

.user__name {
  margin-bottom: 6px;
  font-size: 34px;
}
@media screen and (max-width: 480px) {
  .user__name {
    font-size: 22px;
  }
}

.user__club {
  margin-bottom: 28px;
}
@media screen and (max-width: 480px) {
  .user__club {
    font-size: 12px;
  }
}

.user__club-link {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
}

.user__club-point {
  opacity: .5;
}

.user__list {
  margin-bottom: 30px;
  font-size: 0;
}

.user__item {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 50%;
  text-align: right;
  font-size: 18px;
  border-right: 1px solid #fff;
}
.user__item:last-child {
  text-align: left;
  border-right: none;
}

.user__link {
  position: relative;
  display: block;
  padding: 36px 0;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}
.user__link:before {
  content: "";
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (max-width: 480px) {
  .user__link {
    font-size: 12px;
  }
}

.user__link--tickets {
  padding-right: 60px;
}
.user__link--tickets:before {
  left: 15%;
  left: 44px;
  width: 46px;
  height: 61px;
  background: url(../img/decor/tickets.png) no-repeat;
  background-size: contain;
}

.user__link__parameter {
  padding-left: 100px;
}
.user__link__parameter:before {
  left: 23%;
  left: 46px;
  width: 34px;
  height: 61px;
  background: url(../img/decor/parameter.png) no-repeat;
  background-size: contain;
}

.user__btns {
  margin-bottom: 36px;
}

.user__btn {
  display: block;
  padding: 20px 0;
  font-size: 30px;
  text-transform: uppercase;
  color: #eac731;
  border: 1px solid #eac731;
}
@media screen and (max-width: 480px) {
  .user__btn {
    padding: 10px 0;
    font-size: 16px;
  }
}

.training {
  text-align: left;
}

.training__list {
  margin: 0 -30px;
}
@media screen and (max-width: 480px) {
  .training__list {
    margin: 0 -15px;
  }
}

.training__item {
  padding: 25px 30px 0 30px;
  background: #686868;
}
.training__item:last-child {
  padding: 25px 30px;
}
@media screen and (max-width: 480px) {
  .training__item {
    padding: 10px 15px 0 15px;
  }
  .training__item:last-child {
    padding: 10px 15px;
  }
}

.training__header {
  padding: 16px 30px;
  position: relative;
  background: #2c2c2c;
}
@media screen and (max-width: 480px) {
  .training__header {
    padding: 8px 14px;
  }
}

.training__title {
  position: relative;
  padding-left: 44px;
  font-size: 24px;
  text-transform: uppercase;
}
.training__title:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 18px;
  height: 18px;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 4px solid #1fcb69;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
@media screen and (max-width: 480px) {
  .training__title {
    padding-left: 28px;
    font-size: 16px;
  }
  .training__title:before {
    width: 12px;
    height: 12px;
    border: 3px solid #1fcb69;
  }
}

.training__title--pink:before {
  border: 4px solid #f2a2d2;
}

.training__close {
  position: absolute;
  top: 50%;
  right: 20px;
  display: block;
  width: 22px;
  height: 22px;
  font-size: 0;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.training__close:before, .training__close:after {
  content: "";
  position: absolute;
  top: 9px;
  right: 0;
  width: 24px;
  height: 1px;
  background: #acacac;
}
.training__close:before {
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.training__close:after {
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.training__body {
  padding: 22px 30px;
  background: #373737;
}
@media screen and (max-width: 480px) {
  .training__body {
    padding: 10px 14px;
  }
}

.training__left {
  float: left;
  width: 50%;
  padding-right: 10px;
}

.training__right {
  float: left;
  width: 50%;
  padding-left: 10px;
}

.training__calendar,
.training__date {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

.training__calendar {
  position: relative;
  width: 48px;
  height: 50px;
  padding-top: 10px;
  text-align: center;
  font-size: 28px;
}
.training__calendar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 50px;
  background: url(../img/decor/calendar.png) no-repeat;
  background-size: contain;
}
@media screen and (max-width: 480px) {
  .training__calendar {
    width: 24px;
    height: 25px;
    font-size: 18px;
  }
  .training__calendar:after {
    width: 24px;
    height: 25px;
  }
}

.training__date {
  margin-left: 20px;
}

.training__date-title {
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .training__date-title {
    font-size: 12px;
  }
}

.training__date-value {
  font-size: 28px;
}
@media screen and (max-width: 480px) {
  .training__date-value {
    font-size: 18px;
  }
}

.training__time {
  position: relative;
  margin-bottom: 10px;
  padding-left: 32px;
}
.training__time:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../img/decor/time.png) no-repeat;
  background-size: contain;
}
@media screen and (max-width: 480px) {
  .training__time {
    padding-left: 22px;
    font-size: 12px;
  }
  .training__time:before {
    width: 14px;
    height: 14px;
  }
}

.training__point {
  position: relative;
  padding-left: 36px;
}
.training__point:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 22px;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../img/decor/point.png) no-repeat;
  background-size: contain;
}
@media screen and (max-width: 480px) {
  .training__point {
    padding-left: 22px;
    font-size: 12px;
  }
  .training__point:before {
    width: 12px;
    height: 16px;
  }
}

.burger {
  position: absolute;
  top: 0;
  left: -9999px;
  width: 480px;
  padding-left: 88px;
  background: #2c2c2c;
  z-index: 1;
}

.burger.open {
  position: fixed;
  left: 0;
}

.burger__toggle {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 32px;
  background: url(../img/decor/burger.png) no-repeat;
}

.burger__notice {
  position: absolute;
  top: -5px;
  right: -7px;
  width: 12px;
  height: 12px;
  background: #eac731;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.burger__close {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 0;
}
.burger__close:before, .burger__close:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 34px;
  height: 2px;
  background: #fff;
}
.burger__close:before {
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.burger__close:after {
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.burger__list {
  margin-bottom: 72px;
}

.burger__item {
  margin-bottom: 12px;
}

.burger__link {
  font-size: 34px;
  color: #fff;
}

.header__burger {
  position: absolute;
  top: 40px;
}
