extends ../main

block title
	| Главная страница

block header
	include ../_common/_header-burger

block content
	include ../_common/_index

//- block footer
//- 	footer.footer.footer--index
//- 		.container
//- 			include ../_common/_index-footer