extends ../main

block title
	| Мои абонементы

block header
	include ../_common/_header-burger

block content
	include ../_common/_tickets
	
//- block footer
//- 	footer.footer.footer--index
//- 		.container
//- 			include ../_common/_tickets-footer