.about.page
	.title О нас
	.about__tabs
		ul.about__tabs-list
			li.about__tabs-item.active
				a.about__tabs-link(href="#") О клубе
			li.about__tabs-item
				a.about__tabs-link(href="#") Команда
			li.about__tabs-item
				a.about__tabs-link(href="#") Тренировки
			li.about__tabs-item
				a.about__tabs-link(href="#") Отзывы
			li.about__tabs-item
				a.about__tabs-link(href="#") Контакты
	.about__content
		ul.about__content-list
			li.about__content-item.active
				.about__logo
					a.logo__link
						img.logo__img(src="./img/logo.png")
						.logo__text Колизей
				.about__desc
					p Фитнес клуб «Колизей» – это территория здоровья, красоты и интересного общения.
					p Главная цель нашей работы: <br>помочь своим клиентам чувствовать <br>и выглядеть на все 100%.
			li.about__content-item
				ul.team__list
					li.team__item
						.team__avatar.img-cover(style="background-image: url(./img/avatar.jpg);")
							img.team__avatar-pic.img-fake
						.team__name Евгения Романова
						.team__rating Рейтинг — 4,5
						.team__desc 
							p Инструктор тренажерного зала, персональный тренер, стрейчинг, инструктор по питанию.
							p Лицензированный специалист Zumbar INSTRUKTOR программы Zumbar Fitness.
							p Выпускница: Фитнес-школа ОЛИМПИЯ ЛАЙФ Челябинск, FirstFitnessSchool - Первая школа фитнеса Москва.
						.team__stars
							ul.team__stars-list
								li.team__stars-item
									img.team__stars-img(src="./img/decor/star-gold.png")
								li.team__stars-item
									img.team__stars-img(src="./img/decor/star-gold.png")
								li.team__stars-item
									img.team__stars-img(src="./img/decor/star-gold.png")
								li.team__stars-item
									img.team__stars-img(src="./img/decor/star.png")
								li.team__stars-item
									img.team__stars-img(src="./img/decor/star.png")
					li.team__item
						.team__avatar.img-cover(style="background-image: url(./img/avatar.jpg);")
							img.team__avatar-pic.img-fake
						.team__name Евгения Романова
						.team__rating Рейтинг — 4,5
						.team__desc 
							p Инструктор тренажерного зала, персональный тренер, стрейчинг, инструктор по питанию.
							p Лицензированный специалист Zumbar INSTRUKTOR программы Zumbar Fitness.
							p Выпускница: Фитнес-школа ОЛИМПИЯ ЛАЙФ Челябинск, FirstFitnessSchool - Первая школа фитнеса Москва.
						.team__stars
							ul.team__stars-list
								li.team__stars-item
									img.team__stars-img(src="./img/decor/star-gold.png")
								li.team__stars-item
									img.team__stars-img(src="./img/decor/star-gold.png")
								li.team__stars-item
									img.team__stars-img(src="./img/decor/star-gold.png")
								li.team__stars-item
									img.team__stars-img(src="./img/decor/star.png")
								li.team__stars-item
									img.team__stars-img(src="./img/decor/star.png")
			li.about__content-item
				.about__training
					ul.about__training-list
						li.about__training-item
							.about__training-left
								.about__training-img.img-cover(style="background-image: url(./img/avatar.jpg);")
									img.about__training-img_pic.img-fake
							.about__training-right
								.about__training-wrapp
									.about__training-title Стритфайтинг
									.about__training-desc Цели стритфайтинга просты – научить человека защищаться от нападения простейшими способами и в кратчайшие сроки, без регалий, без аплодисментов и соревнований.
						li.about__training-item
							.about__training-left
								.about__training-wrapp
									.about__training-title Аэробные тренировки
									.about__training-desc Цели стритфайтинга просты – научить человека защищаться от нападения простейшими способами и в кратчайшие сроки, без регалий, без аплодисментов и соревнований.
							.about__training-right
								.about__training-img.img-cover(style="background-image: url(./img/avatar.jpg);")
									img.about__training-img_pic.img-fake
						li.about__training-item
							.about__training-left
								.about__training-img.img-cover(style="background-image: url(./img/avatar.jpg);")
									img.about__training-img_pic.img-fake
							.about__training-right
								.about__training-wrapp
									.about__training-title Тренажерный зал
									.about__training-desc Цели стритфайтинга просты – научить человека защищаться от нападения простейшими способами и в кратчайшие сроки, без регалий, без аплодисментов и соревнований.
			li.about__content-item
				ul.rewiews__list
					li.rewiews__item
						.rewiews__left
							.rewiews__avatar.img-cover(style="background-image: url(./img/avatar-master.jpg);")
								img.rewiews__avatar-pic.img-fake(src="./img/avatar-master.jpg")
						.rewiews__right
							.rewiews__name Анастасия Авилова
							.rewiews__desc
								p Я - Очень сильно поправилась за беременность. Дошло до того, что не узнавала себя в зеркале. Точнее отказывалась признать, что это я. Когда дочке было два года, открылся первый Колизей и мы всей семьей пришли в зал. И я наконец-то стала собой )) 
								p И главное мое достижение - я стала лицензированным инструктором программы Zum-ba(r) Fitnes и стала работать в любимом клубе.
					li.rewiews__item
						.rewiews__left
							.rewiews__avatar.img-cover(style="background-image: url(./img/avatar-master.jpg);")
								img.rewiews__avatar-pic.img-fake(src="./img/avatar-master.jpg")
						.rewiews__right
							.rewiews__name Анастасия Авилова
							.rewiews__desc
								p Я - Очень сильно поправилась за беременность. Дошло до того, что не узнавала себя в зеркале. Точнее отказывалась признать, что это я. Когда дочке было два года, открылся первый Колизей и мы всей семьей пришли в зал. И я наконец-то стала собой )) 
								p И главное мое достижение - я стала лицензированным инструктором программы Zum-ba(r) Fitnes и стала работать в любимом клубе.
					li.rewiews__item
						.rewiews__left
							.rewiews__avatar.img-cover(style="background-image: url(./img/avatar-master.jpg);")
								img.rewiews__avatar-pic.img-fake(src="./img/avatar-master.jpg")
						.rewiews__right
							.rewiews__name Анастасия Авилова
							.rewiews__desc
								p Я - Очень сильно поправилась за беременность. Дошло до того, что не узнавала себя в зеркале. Точнее отказывалась признать, что это я. Когда дочке было два года, открылся первый Колизей и мы всей семьей пришли в зал. И я наконец-то стала собой )) 
								p И главное мое достижение - я стала лицензированным инструктором программы Zum-ba(r) Fitnes и стала работать в любимом клубе.
					li.rewiews__item
						.rewiews__left
							.rewiews__avatar.img-cover(style="background-image: url(./img/avatar-master.jpg);")
								img.rewiews__avatar-pic.img-fake(src="./img/avatar-master.jpg")
						.rewiews__right
							.rewiews__name Анастасия Авилова
							.rewiews__desc
								p Я - Очень сильно поправилась за беременность. Дошло до того, что не узнавала себя в зеркале. Точнее отказывалась признать, что это я. Когда дочке было два года, открылся первый Колизей и мы всей семьей пришли в зал. И я наконец-то стала собой )) 
								p И главное мое достижение - я стала лицензированным инструктором программы Zum-ba(r) Fitnes и стала работать в любимом клубе.
			li.about__content-item
				.contacts__adrress.contacts__adrress--about
					ul.contacts__list.contacts__list--link
						li.contacts__item.contacts__item--phone
							a.contacts__link(href="tel:+73517501050") 8 (351) 750-10-50
						li.contacts__item.contacts__item--mail
							a.contacts__link(href="mailto:sales@fk-kolizey.ru") sales@fk-kolizey.ru
					ul.contacts__list.contacts__list--point
						li.contacts__item
							a.contacts__link(href="#") Ул. Молодогвардейцев, 38А
						li.contacts__item
							a.contacts__link(href="#") Пр. Свердловский, 35
						li.contacts__item
							a.contacts__link(href="#") Ул. Чичерина, 37
				.contacts__map-wrapp
					.contacts__map.contacts__map--about(id="map")