.about.page
	.title О нас
	.about__tabs
		ul.about__tabs-list
			li.about__tabs-item.active
				a.about__tabs-link(href="#") О клубе
			li.about__tabs-item
				a.about__tabs-link(href="#") Команда
			li.about__tabs-item
				a.about__tabs-link(href="#") Тренировки
			li.about__tabs-item
				a.about__tabs-link(href="#") Отзывы
			li.about__tabs-item
				a.about__tabs-link(href="#") Контакты
	.about__content
		ul.about__content-list
			li.about__content-item.active
				.about__logo
					a.logo__link
						img.logo__img(src="./img/logo.png")
						.logo__text Колизей
				.about__desc
					p Фитнес клуб «Колизей» – это территория здоровья, красоты и интересного общения.
					p Главная цель нашей работы: <br>помочь своим клиентам чувствовать и выглядеть на все 100%.
