.account-popup.account-popup--attention
	.account-popup__content
		.account-popup__title Вы уверены, что хотите отменить тренировку?
		.account-popup__desc Внимание!<br> При отмене тренировки<br> менее чем за 1 час до начала,<br> занятие автоматически сгорает.
	.account-popup__btns
		a.account-popup__btn.account-popup__btn--cancel(href="#" id="cancel-training-no") Отмена
		a.account-popup__btn(href="#" id="cancel-training-ok") Ок
	