.account-popup--point
	ul.account-popup__point-list
		li.account-popup__point-item
			a.account-popup__point-link(href="#") Молодогвардейцев, 38А
		li.account-popup__point-item.prev
			a.account-popup__point-link(href="#") Молодогвардейцев, 38А
		li.account-popup__point-item.active
			a.account-popup__point-link(href="#") Молодогвардейцев, 38А
		li.account-popup__point-item.prev
			a.account-popup__point-link(href="#") Молодогвардейцев, 38А
		li.account-popup__point-item
			a.account-popup__point-link(href="#") Молодогвардейцев, 38А
	.account-popup__btns
		a.account-popup__btn.account-popup__btn--cancel(href="#" id="account__point-no") Отмена
		a.account-popup__btn(href="#" id="account__point-ok") Ок