.account.page
	.title Личный кабинет
	a.account__edit(href="#") Редактировать
	.user
		.user__avatar
			.user__avatar-img.img-cover(style="background-image: url(/img/avatar.jpg);")
				img.user__avatar-img-pic.img-fake(src="/img/avatar.jpg")
		.user__name Катерина Воронина
		.user__club
			a.user__club-link(href="#") Любимый клуб
			.user__club-point Молодогвардейцев, 38А
		ul.user__list
			li.user__item
				a.user__link.user__link--tickets(href="#") Абонементы
			li.user__item
				a.user__link.user__link__parameter(href="parameters.html") Параметры
		.page__btns
			a.page__btn(href="#") Купить абонемент
	.training
		ul.training__list
			li.training__item
				.training__header
					.training__title Step-Dance
					a.training__close(href="#") Закрыть
				.training__body
					.training__left
						.training__calendar
							span 12
						.training__date
							.training__date-title Дата занятия
							.training__date-value 12.14.2017
					.training__right
						.training__time 19:00
						.training__point Молодогвардейцев, 38А
			li.training__item
				.training__header
					.training__title.training__title--pink Хатха йога
					a.training__close(href="#") Закрыть
				.training__body
					.training__left
						.training__calendar
							span 15
						.training__date
							.training__date-title Дата занятия
							.training__date-value 15.14.2017
					.training__right
						.training__time 19:00
						.training__point Молодогвардейцев, 38А
