.burger
	a.burger__close(href="#") закрыть
	ul.burger__list
		li.burger__item
			a.burger__link(href="/") Главная
		li.burger__item.curent
			a.burger__link(href="account.html") Личный кабинет
		li.burger__item
			a.burger__link(href="#") Акции
		li.burger__item
			a.burger__link(href="buy.html") Купить абонемент
		li.burger__item
			a.burger__link(href="chart.html") Расписание
	ul.burger__list
		li.burger__item
			a.burger__link(href="#") Как похудеть
		li.burger__item
			a.burger__link(href="#") Как оздоровиться
		li.burger__item
			a.burger__link(href="#") Как набрать вес
		li.burger__item
			a.burger__link(href="#") Как тренироваться
	ul.burger__list
		li.burger__item
			a.burger__link(href="#") О нас
		li.burger__item
			a.burger__link(href="#") Наша команда
		li.burger__item
			a.burger__link(href="#") Отзывы
		li.burger__item
			a.burger__link(href="#") Контакты