.buy.page
	.title Купить абонемент
	.buy-form__desc Если Вы хотите купить абонемент не себе, пожалуйста, заполнте поля данными владельца
	form.buy-form
		.buy-form__wrapp
			input.buy-form__input(id="phoneByForm" type="text" placeholder="+7 (---) --- -- --")
		.buy-form__wrapp
			input.buy-form__input(type="text" placeholder="Имя")
		.buy-form__wrapp
			input.buy-form__input(type="text" placeholder="Фамилия")
		.buy-form__wrapp
			input.buy-form__input(type="text" placeholder="Дата рождения")
		.buy-form__wrapp
			input.buy-form__input(type="text" placeholder="05.07.2017")

	.buy__btns
		.buy__total
			span.buy__total-value 3
			span.buy__total-text абонемента на сумму:
			span.buy__total-price 3 456 &#8381;
		a.buy__btn.btn(href="#") Купить