.buy.page
	.title Купить абонемент
	ul.buy__list
		li.buy__item
			label.buy__checkbox
				input.buy__checkbox-input.checkbox__input.1(type="radio" name="1")
				.buy__checkbox-fake.checkbox__fake
				.buy__checkbox-title Дневное посещение на 12 занятий в Тренажерный зал
			.buy__desc Вы можете провести 8 тренировок, в наших клубах с 8-00 до 17-00 (в выходные с 10-00 до 17-00), зала групповых программ. Абонемент действует в течении 2-х месяцев с даты его приобретения.
		li.buy__item
			label.buy__checkbox
				input.buy__checkbox-input.checkbox__input.2(type="radio" name="1")
				.buy__checkbox-fake.checkbox__fake
				.buy__checkbox-title Дневное посещение на 12 занятий в Тренажерный зал
			.buy__desc Вы можете провести 8 тренировок, в наших клубах с 8-00 до 17-00 (в выходные с 10-00 до 17-00), зала групповых программ. Абонемент действует в течении 2-х месяцев с даты его приобретения.
		li.buy__item
			label.buy__checkbox
				input.buy__checkbox-input.checkbox__input.3(type="radio" name="1")
				.buy__checkbox-fake.checkbox__fake
				.buy__checkbox-title Дневное посещение на 12 занятий в Тренажерный зал
			.buy__desc Вы можете провести 8 тренировок, в наших клубах с 8-00 до 17-00 (в выходные с 10-00 до 17-00), зала групповых программ. Абонемент действует в течении 2-х месяцев с даты его приобретения.
		li.buy__item
			label.buy__checkbox
				input.buy__checkbox-input.checkbox__input.4(type="radio" name="1")
				.buy__checkbox-fake.checkbox__fake
				.buy__checkbox-title Дневное посещение на 12 занятий в Тренажерный зал
			.buy__desc Вы можете провести 8 тренировок, в наших клубах с 8-00 до 17-00 (в выходные с 10-00 до 17-00), зала групповых программ. Абонемент действует в течении 2-х месяцев с даты его приобретения.
		li.buy__item
			label.buy__checkbox
				input.buy__checkbox-input.checkbox__input.5(type="radio" name="1")
				.buy__checkbox-fake.checkbox__fake
				.buy__checkbox-title Дневное посещение на 12 занятий в Тренажерный зал
			.buy__desc Вы можете провести 8 тренировок, в наших клубах с 8-00 до 17-00 (в выходные с 10-00 до 17-00), зала групповых программ. Абонемент действует в течении 2-х месяцев с даты его приобретения.
	.buy__btns
		.buy__total
			span.buy__total-value 3
			span.buy__total-text абонемента на сумму:
			span.buy__total-price 3 456 &#8381;
		a.buy__btn.btn(href="#") Купить