.chart.page
	.title Рассписание
	.chart__club-point
		a.chart__club-point__link(href="#") Все клубы
	.chart__tabs
		ul.chart__tabs-list
			li.chart__tabs-item
				a.chart__tabs-link(href="#") Зал групповых занятий
			li.chart__tabs-item
				a.chart__tabs-link(href="#") Персональные тренировки
			li.chart__tabs-item.active
				a.chart__tabs-link(href="#") Массаж
	.chart__content
		ul.chart__content-list
			li.chart__content-item
				.chart-date
					ul.chart-date__list
						li.chart-date__item
							a.chart-date__link(href="#") Воскресенье 01 мая, 2017
						li.chart-date__item.active
							a.chart-date__link(href="#") Понедельник 02 мая, 2017
						li.chart-date__item
							a.chart-date__link(href="#") Вторник 03 мая, 2017
						li.chart-date__item
							a.chart-date__link(href="#") Среда 04 мая, 2017
					ul.chart-date-content__list
						li.chart-date-content__item
							.chart-training
								ul.chart-training__list
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 18:00
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 17:00
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 16:40
										.chart-training__wrapp
											.chart-training__content
												.chart-training__name Массаж горячими камнями
												.chart-training__duration Продолжительность сеанса 90 мин.
												.chart-training__desc Массаж горячими камнями это массаж с применением промытых и нагретых в воде базальтовых камней.
												.chart-training__master.master
													.master__left
														.master__avatar.img-cover(style="background-image: url(./img/avatar-master.jpg);")
															img.master__avatar-pic.img-fake(src="./img/avatar-master.jpg")
													.master__right
														.master__name Дарья Никонова
														.master__desc Дипломированный массажист, специалист по оздоровительным технологиям и физической культуре Востока.
														.master__skills Опыт более 12 лет.
											.chart-training__btns
												input.chart-training__btns.btn-input(type="submit" value="Записаться")
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 19:00
						li.chart-date-content__item
							.chart-training
								ul.chart-training__list
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 19:00
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 17:00
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 16:40
										.chart-training__wrapp
											.chart-training__content
												.chart-training__name Массаж горячими камнями
												.chart-training__duration Продолжительность сеанса 90 мин.
												.chart-training__desc Массаж горячими камнями это массаж с применением промытых и нагретых в воде базальтовых камней.
												.chart-training__master.master
													.master__left
														.master__avatar.img-cover(style="background-image: url(./img/avatar-master.jpg);")
															img.master__avatar-pic.img-fake(src="./img/avatar-master.jpg")
													.master__right
														.master__name Дарья Никонова
														.master__desc Дипломированный массажист, специалист по оздоровительным технологиям и физической культуре Востока.
														.master__skills Опыт более 12 лет.
											.chart-training__btns
												input.chart-training__btns.btn-input(type="submit" value="Записаться")
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 19:00
						li.chart-date-content__item
							.chart-training
								ul.chart-training__list
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 19:30
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 17:00
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 16:40
										.chart-training__wrapp
											.chart-training__content
												.chart-training__name Массаж горячими камнями
												.chart-training__duration Продолжительность сеанса 90 мин.
												.chart-training__desc Массаж горячими камнями это массаж с применением промытых и нагретых в воде базальтовых камней.
												.chart-training__master.master
													.master__left
														.master__avatar.img-cover(style="background-image: url(./img/avatar-master.jpg);")
															img.master__avatar-pic.img-fake(src="./img/avatar-master.jpg")
													.master__right
														.master__name Дарья Никонова
														.master__desc Дипломированный массажист, специалист по оздоровительным технологиям и физической культуре Востока.
														.master__skills Опыт более 12 лет.
											.chart-training__btns
												input.chart-training__btns.btn-input(type="submit" value="Записаться")
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 19:00
						li.chart-date-content__item
							.chart-training
								ul.chart-training__list
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 20:00
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 17:00
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 16:40
										.chart-training__wrapp
											.chart-training__content
												.chart-training__name Массаж горячими камнями
												.chart-training__duration Продолжительность сеанса 90 мин.
												.chart-training__desc Массаж горячими камнями это массаж с применением промытых и нагретых в воде базальтовых камней.
												.chart-training__master.master
													.master__left
														.master__avatar.img-cover(style="background-image: url(./img/avatar-master.jpg);")
															img.master__avatar-pic.img-fake(src="./img/avatar-master.jpg")
													.master__right
														.master__name Дарья Никонова
														.master__desc Дипломированный массажист, специалист по оздоровительным технологиям и физической культуре Востока.
														.master__skills Опыт более 12 лет.
											.chart-training__btns
												input.chart-training__btns.btn-input(type="submit" value="Записаться")
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 19:00
			li.chart__content-item
				.chart-date
					ul.chart-date__list
						li.chart-date__item
							a.chart-date__link(href="#") Воскресенье 01 мая, 2017
						li.chart-date__item
							a.chart-date__link(href="#") Понедельник 02 мая, 2017
						li.chart-date__item
							a.chart-date__link(href="#") Вторник 03 мая, 2017
						li.chart-date__item
							a.chart-date__link(href="#") Среда 04 мая, 2017
					ul.chart-date-content__list
						li.chart-date-content__item
							.chart-training
								ul.chart-training__list
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 19:00
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 17:00
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 16:40
										.chart-training__wrapp
											.chart-training__content
												.chart-training__name Массаж горячими камнями
												.chart-training__duration Продолжительность сеанса 90 мин.
												.chart-training__desc Массаж горячими камнями это массаж с применением промытых и нагретых в воде базальтовых камней.
												.chart-training__master.master
													.master__left
														.master__avatar.img-cover(style="background-image: url(./img/avatar-master.jpg);")
															img.master__avatar-pic.img-fake(src="./img/avatar-master.jpg")
													.master__right
														.master__name Дарья Никонова
														.master__desc Дипломированный массажист, специалист по оздоровительным технологиям и физической культуре Востока.
														.master__skills Опыт более 12 лет.
											.chart-training__btns
												input.chart-training__btns.btn-input(type="submit" value="Записаться")
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 19:00
						li.chart-date-content__item
							.chart-training
								ul.chart-training__list
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 18:00
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 17:00
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 16:40
										.chart-training__wrapp
											.chart-training__content
												.chart-training__name Массаж горячими камнями
												.chart-training__duration Продолжительность сеанса 90 мин.
												.chart-training__desc Массаж горячими камнями это массаж с применением промытых и нагретых в воде базальтовых камней.
												.chart-training__master.master
													.master__left
														.master__avatar.img-cover(style="background-image: url(./img/avatar-master.jpg);")
															img.master__avatar-pic.img-fake(src="./img/avatar-master.jpg")
													.master__right
														.master__name Дарья Никонова
														.master__desc Дипломированный массажист, специалист по оздоровительным технологиям и физической культуре Востока.
														.master__skills Опыт более 12 лет.
											.chart-training__btns
												input.chart-training__btns.btn-input(type="submit" value="Записаться")
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 19:00
						li.chart-date-content__item
							.chart-training
								ul.chart-training__list
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 17:00
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 17:00
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 16:40
										.chart-training__wrapp
											.chart-training__content
												.chart-training__name Массаж горячими камнями
												.chart-training__duration Продолжительность сеанса 90 мин.
												.chart-training__desc Массаж горячими камнями это массаж с применением промытых и нагретых в воде базальтовых камней.
												.chart-training__master.master
													.master__left
														.master__avatar.img-cover(style="background-image: url(./img/avatar-master.jpg);")
															img.master__avatar-pic.img-fake(src="./img/avatar-master.jpg")
													.master__right
														.master__name Дарья Никонова
														.master__desc Дипломированный массажист, специалист по оздоровительным технологиям и физической культуре Востока.
														.master__skills Опыт более 12 лет.
											.chart-training__btns
												input.chart-training__btns.btn-input(type="submit" value="Записаться")
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 19:00
						li.chart-date-content__item
							.chart-training
								ul.chart-training__list
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 16:00
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 17:00
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 16:40
										.chart-training__wrapp
											.chart-training__content
												.chart-training__name Массаж горячими камнями
												.chart-training__duration Продолжительность сеанса 90 мин.
												.chart-training__desc Массаж горячими камнями это массаж с применением промытых и нагретых в воде базальтовых камней.
												.chart-training__master.master
													.master__left
														.master__avatar.img-cover(style="background-image: url(./img/avatar-master.jpg);")
															img.master__avatar-pic.img-fake(src="./img/avatar-master.jpg")
													.master__right
														.master__name Дарья Никонова
														.master__desc Дипломированный массажист, специалист по оздоровительным технологиям и физической культуре Востока.
														.master__skills Опыт более 12 лет.
											.chart-training__btns
												input.chart-training__btns.btn-input(type="submit" value="Записаться")
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 19:00
			li.chart__content-item.active
				.chart-date
					ul.chart-date__list
						li.chart-date__item
							a.chart-date__link(href="#") Воскресенье 01 мая, 2017
						li.chart-date__item.active
							a.chart-date__link(href="#") Понедельник 02 мая, 2017
						li.chart-date__item
							a.chart-date__link(href="#") Вторник 03 мая, 2017
						li.chart-date__item
							a.chart-date__link(href="#") Среда 04 мая, 2017
					ul.chart-date-content__list
						li.chart-date-content__item
							.chart-training
								ul.chart-training__list
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 19:00
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 17:00
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 16:40
										.chart-training__wrapp
											.chart-training__content
												.chart-training__name Массаж горячими камнями
												.chart-training__duration Продолжительность сеанса 90 мин.
												.chart-training__desc Массаж горячими камнями это массаж с применением промытых и нагретых в воде базальтовых камней.
												.chart-training__master.master
													.master__left
														.master__avatar.img-cover(style="background-image: url(./img/avatar-master.jpg);")
															img.master__avatar-pic.img-fake(src="./img/avatar-master.jpg")
													.master__right
														.master__name Дарья Никонова
														.master__desc Дипломированный массажист, специалист по оздоровительным технологиям и физической культуре Востока.
														.master__skills Опыт более 12 лет.
											.chart-training__btns
												input.chart-training__btns.btn-input(type="submit" value="Записаться")
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 19:00
						li.chart-date-content__item
							.chart-training
								ul.chart-training__list
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 18:00
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 17:00
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 16:40
										.chart-training__wrapp
											.chart-training__content
												.chart-training__name Массаж горячими камнями
												.chart-training__duration Продолжительность сеанса 90 мин.
												.chart-training__desc Массаж горячими камнями это массаж с применением промытых и нагретых в воде базальтовых камней.
												.chart-training__master.master
													.master__left
														.master__avatar.img-cover(style="background-image: url(./img/avatar-master.jpg);")
															img.master__avatar-pic.img-fake(src="./img/avatar-master.jpg")
													.master__right
														.master__name Дарья Никонова
														.master__desc Дипломированный массажист, специалист по оздоровительным технологиям и физической культуре Востока.
														.master__skills Опыт более 12 лет.
											.chart-training__btns
												input.chart-training__btns.btn-input(type="submit" value="Записаться")
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 19:00
						li.chart-date-content__item
							.chart-training
								ul.chart-training__list
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 17:00
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 17:00
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 16:40
										.chart-training__wrapp
											.chart-training__content
												.chart-training__name Массаж горячими камнями
												.chart-training__duration Продолжительность сеанса 90 мин.
												.chart-training__desc Массаж горячими камнями это массаж с применением промытых и нагретых в воде базальтовых камней.
												.chart-training__master.master
													.master__left
														.master__avatar.img-cover(style="background-image: url(./img/avatar-master.jpg);")
															img.master__avatar-pic.img-fake(src="./img/avatar-master.jpg")
													.master__right
														.master__name Дарья Никонова
														.master__desc Дипломированный массажист, специалист по оздоровительным технологиям и физической культуре Востока.
														.master__skills Опыт более 12 лет.
											.chart-training__btns
												input.chart-training__btns.btn-input(type="submit" value="Записаться")
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 19:00
						li.chart-date-content__item
							.chart-training
								ul.chart-training__list
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 16:00
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 17:00
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 16:40
										.chart-training__wrapp
											.chart-training__content
												.chart-training__name Массаж горячими камнями
												.chart-training__duration Продолжительность сеанса 90 мин.
												.chart-training__desc Массаж горячими камнями это массаж с применением промытых и нагретых в воде базальтовых камней.
												.chart-training__master.master
													.master__left
														.master__avatar.img-cover(style="background-image: url(./img/avatar-master.jpg);")
															img.master__avatar-pic.img-fake(src="./img/avatar-master.jpg")
													.master__right
														.master__name Дарья Никонова
														.master__desc Дипломированный массажист, специалист по оздоровительным технологиям и физической культуре Востока.
														.master__skills Опыт более 12 лет.
											.chart-training__btns
												input.chart-training__btns.btn-input(type="submit" value="Записаться")
									li.chart-training__item
										a.chart-training__link(href="#") 
											.chart-training__title Групповая тренировка
											.chart-training__date 19:00
