.confirm__keyboard
	ul.confirm__keyboard-list
		li.confirm__keyboard-item
			a.confirm__keyboard-link(href="#") 1
		li.confirm__keyboard-item
			a.confirm__keyboard-link(href="#") 2
		li.confirm__keyboard-item
			a.confirm__keyboard-link(href="#") 3
		li.confirm__keyboard-item
			a.confirm__keyboard-link(href="#") 4
		li.confirm__keyboard-item
			a.confirm__keyboard-link(href="#") 5
		li.confirm__keyboard-item
			a.confirm__keyboard-link(href="#") 6
		li.confirm__keyboard-item
			a.confirm__keyboard-link(href="#") 7
		li.confirm__keyboard-item
			a.confirm__keyboard-link(href="#") 8
		li.confirm__keyboard-item
			a.confirm__keyboard-link(href="#") 9
		li.confirm__keyboard-item
			a.confirm__keyboard-link(href="#") 
		li.confirm__keyboard-item
			a.confirm__keyboard-link(href="#") 0
		li.confirm__keyboard-item
			a.confirm__keyboard-link.confirm__keyboard-link--remove(href="#")