.confirm.page
	.title Подтверждение
	.confirm__desc СМС сообщение с кодом подтверждения отправлено на номер<br> +7 (999) 858-99-77
	.confirm__code
		ul.confirm__code-list
			li.confirm__code-item
				a.confirm__code-link(href="#")
					.confirm__code-value 2
			li.confirm__code-item
				a.confirm__code-link(href="#")
					.confirm__code-value 7
			li.confirm__code-item
				a.confirm__code-link(href="#")
			li.confirm__code-item
				a.confirm__code-link(href="#")
		.confirm__code-desc Код действителен в течении 50 секунд
		.confirm__code-again Отправить повторно
	.confirm__keyboard
		ul.confirm__keyboard-list
			li.confirm__keyboard-item
				a.confirm__keyboard-link(href="#") 1
			li.confirm__keyboard-item
				a.confirm__keyboard-link(href="#") 2
			li.confirm__keyboard-item
				a.confirm__keyboard-link(href="#") 3
			li.confirm__keyboard-item
				a.confirm__keyboard-link(href="#") 4
			li.confirm__keyboard-item
				a.confirm__keyboard-link(href="#") 5
			li.confirm__keyboard-item
				a.confirm__keyboard-link(href="#") 6
			li.confirm__keyboard-item
				a.confirm__keyboard-link(href="#") 7
			li.confirm__keyboard-item
				a.confirm__keyboard-link(href="#") 8
			li.confirm__keyboard-item
				a.confirm__keyboard-link(href="#") 9
			li.confirm__keyboard-item
				a.confirm__keyboard-link(href="#") 
			li.confirm__keyboard-item
				a.confirm__keyboard-link(href="#") 0
			li.confirm__keyboard-item
				a.confirm__keyboard-link.confirm__keyboard-link--remove(href="#")
				
			
	



