.contacts.page
	.title Контакты
	adrress.contacts__adrress
		ul.contacts__list.contacts__list--link
			li.contacts__item.contacts__item--phone
				a.contacts__link(href="tel:+73517501050") 8 (351) 750-10-50
			li.contacts__item.contacts__item--mail
				a.contacts__link(href="mailto:sales@fk-kolizey.ru") sales@fk-kolizey.ru
		ul.contacts__list.contacts__list--point
			li.contacts__item
				a.contacts__link(href="#") Ул. Молодогвардейцев, 38А
			li.contacts__item
				a.contacts__link(href="#") Пр. Свердловский, 35
			li.contacts__item
				a.contacts__link(href="#") Ул. Чичерина, 37
	