.exercise.page
	.title Расслабляющая поза
	.exercise__tabs
		ul.exercise__tabs-list
			li.exercise__tabs-item
				a.exercise__tabs-link(href="#") Видео
			li.exercise__tabs-item.active
				a.exercise__tabs-link(href="#") Фото
			li.exercise__tabs-item
				a.exercise__tabs-link(href="#") Описание
	.exercise__content
		ul.exercise__content-list.active
			li.exercise__content-item.content-exercise
				.content-exercise__video-wrapp
					video.content-exercise__video(src="./video/MVI_0692.mp4" type="video/mov" controls="" poster="")
				.content-exercise__desc Руки вытянуты вперед, пальцы расставлены. Лоб касается пола. Стопы вместе, колени на ширине плеч.
			li.exercise__content-item.content-exercise.active
				.content-exercise__img.exercise__img
					ul.exercise__img-list
						li.exercise__img-item.img-cover(style="background-image: url(../img/exercise/IMG_0685.jpg);")
							img.exercise__img-pic.img-fake(src="./img/exercise/IMG_0685.jpg")
						li.exercise__img-item.img-cover(style="background-image: url(../img/exercise/IMG_0688.jpg);")
							img.exercise__img-pic.img-fake(src="./img/exercise/IMG_0688.jpg")
						li.exercise__img-item.img-cover(style="background-image: url(../img/exercise/IMG_0689.jpg);")
							img.exercise__img-pic.img-fake(src="./img/exercise/IMG_0689.jpg")

			li.exercise__content-item.content-exercise
				.content-exercise__desc Руки вытянуты вперед, пальцы расставлены. Лоб касается пола. Стопы вместе, колени на ширине плеч.