.history-popup
	ul.histor-popup__date-list
		li.histor-popup__date-item
			span.histor-popup__date-day 18
			span.histor-popup__date-month апрель
			span.histor-popup__date-year 2017
		li.histor-popup__date-item.prev
			span.histor-popup__date-day 19
			span.histor-popup__date-month апрель
			span.histor-popup__date-year 2017
		li.histor-popup__date-item.active
			span.histor-popup__date-day 20
			span.histor-popup__date-month апрель
			span.histor-popup__date-year 2017
		li.histor-popup__date-item.prev
			span.histor-popup__date-day 21
			span.histor-popup__date-month апрель
			span.histor-popup__date-year 2017
		li.histor-popup__date-item
			span.histor-popup__date-day 22
			span.histor-popup__date-month апрель
			span.histor-popup__date-year 2017
		li.histor-popup__date-item
			span.histor-popup__date-day 23
			span.histor-popup__date-month апрель
			span.histor-popup__date-year 2017
		li.histor-popup__date-item
			span.histor-popup__date-day 24
			span.histor-popup__date-month апрель
			span.histor-popup__date-year 2017
		li.histor-popup__date-item
			span.histor-popup__date-day 25
			span.histor-popup__date-month апрель
			span.histor-popup__date-year 2017
		li.histor-popup__date-item
			span.histor-popup__date-day 26
			span.histor-popup__date-month апрель
			span.histor-popup__date-year 2017
	.history-popup__btns
		a.history-popup__btn.history-popup__btn--cancel(href="#") Отмена
		a.history-popup__btn(href="#") Ок