.history.page
	.title История параметров
	.history__tabs
		ul.history__tabs-list
			li.history__tabs-item
				a.history__tabs-link(href="#") По параметрам
			li.history__tabs-item
				a.history__tabs-link(href="#") По дате
	.history__content
		ul.history__content-list
			li.history__content-item
				.history__parameters
					ul.history__parameters-list
						li.history__parameters-item
							a.history__parameters-link(href="#") ИМТ
						li.history__parameters-item
							a.history__parameters-link(href="#") Рост
						li.history__parameters-item
							a.history__parameters-link(href="#") Вес
							ul.history__dropdown-list
								li.history__dropdown-item
									.history__dropdown-left
										.history__dropdown-date 10.11.2016
									.history__dropdown-right
										.history__dropdown-value
											span.history__dropdown-value_number 90
											span.history__dropdown-value_text кг.
								li.history__dropdown-item
									.history__dropdown-left
										.history__dropdown-date 10.11.2016
									.history__dropdown-right
										.history__dropdown-value
											span.history__dropdown-value_number 90
											span.history__dropdown-value_text кг.
								li.history__dropdown-item
									.history__dropdown-left
										.history__dropdown-date 10.11.2016
									.history__dropdown-right
										.history__dropdown-value
											span.history__dropdown-value_number 90
											span.history__dropdown-value_text кг.
						li.history__parameters-item
							a.history__parameters-link(href="#") Шея
						li.history__parameters-item
							a.history__parameters-link(href="#") Грудь
						li.history__parameters-item
							a.history__parameters-link(href="#") Талия
						li.history__parameters-item
							a.history__parameters-link(href="#") Бедра
						li.history__parameters-item
							a.history__parameters-link(href="#") Ягодицы
						li.history__parameters-item
							a.history__parameters-link(href="#") Бицепс
						li.history__parameters-item
							a.history__parameters-link(href="#") Икры
			li.history__content-item
				.history__parameters
					.history__parameters-title 