.index.page
	.title Главная
	.index__logo
		a.logo__link
			img.logo__img(src="./img/logo.png")
			.logo__text Колизей
	.index__barcode
		img.barcode(src="./img/barcode.png")
	.index__barcode.index__barcode--buy
		.index__barcode-title у Вас еще нет <br>ни одного абонемента
		a.index__barcode-link(href="buy.html") Купить абонемент
	.ya-share2.ya-share2_inited
		.ya-share2__container.ya-share2__container_size_m
			ul.ya-share2__list.ya-share2__list_direction_vertical
				li.ya-share2__item.ya-share2__item_service_vkontakte
					a.ya-share2__link(href="#")
						span.ya-share2__badge
							span.ya-share2__icon
							span.ya-share2__counter
						span.ya-share2__title
				li.ya-share2__item.ya-share2__item_service_facebook
				li.ya-share2__item.ya-share2__item_service_odnoklassniki
				li.ya-share2__item.ya-share2__item_service_twitter

	include _index-footer