.index.page
	.title Главная
	.index__logo
		a.logo__link
			img.logo__img(src="./img/logo.png")
			.logo__text Колизей
	.index__barcode
		img.barcode(src="./img/barcode.png")
	.index__barcode.index__barcode--buy
		.index__barcode-title у Вас еще нет <br>ни одного абонемента
		a.index__barcode-link(href="buy.html") Купить абонемент
	.index__socials
		ul.index__socials-list
			li.index__socials-item.index__socials-item--vk
				a.index__socials-link(href="#")
			li.index__socials-item.index__socials-item--fb
				a.index__socials-link(href="#")
			li.index__socials-item.index__socials-item--od
				a.index__socials-link(href="#")
			li.index__socials-item.index__socials-item--tw
				a.index__socials-link(href="#")

	include _index-footer