.index.page
	.title Главная
	.index__logo
		a.logo__link
			img.logo__img(src="./img/logo.png")
			.logo__text Колизей
	.index__barcode
		img.barcode(src="./img/barcode.png")
	.index__barcode.index__barcode--buy
		.index__barcode-title у Вас еще нет <br>ни одного абонемента
		a.index__barcode-link(href="buy.html") Купить абонемент
	include _index-footer