.index.page
	.title Главная
	.index__logo
		a.logo__link
			img.logo(src="./img/logo.png")
			.logo__text Колизей
	.index__barcode
		img.barcode(src="./img/barcode.png")
	.index__footer
		.footer-left
			a.footer-left__link(href="#")
		.footer-center
			a.footer-center__link(href="#") Правила использования
		.footer-right
			a.footer-right__link(href="#")