.login
	.login-bg
		.login__logo
			a.logo__link
				img.logo__img(src="./img/logo.png")
				.logo__text Колизей
		.logo__enter
			input.logo__enter-value(id="loginMask")
			a.logo__enter-btn.btn Войти
		include _confirm-keyboard