.mode.page
	.title Как похудеть
	.mode__tabs
		ul.mode__tabs-list
			li.mode__tabs-item
				a.mode__tabs-link(href="#") Похудение
			li.mode__tabs-item.active
				a.mode__tabs-link(href="#") Питание
			li.mode__tabs-item
				a.mode__tabs-link(href="#") Тренировки
			li.mode__tabs-item
				a.mode__tabs-link(href="#") Советы
	.mode__content
		ul.mode__content-list
			li.mode__content-item
				.mode__content-block
					.mode__content-title Основы правильного питания для уменьшения веса.
					.mode__content-desc
						p Цель верного похудения - сжигание жира, а не потеря мышечной ткани.
						p Ниже рассказано о правильном соотношении жиров, белков и углеводов для сжигания жира. При похудении самое основное - сохранить мышцы, чтобы получить нужный результат, а не получить медленный обмен веществ.
						p Что же нужно для того, чтобы уходили жировые отложения, а не мышцы?
					.mode__content-title Углеводы
					.mode__content-desc
						p Лишний вес у человека появляется из-за употребления лишних углеводов. Именно они откладываются в жировые клетки. Таким образом, для похудения нужно употреблять меньше углеводов, но нельзя полностью от них отказываться. Они дают энергию, силу и подкармливают мозг. Существуют методы экстренного снижения веса, которые заключаются в полном отказе от углеводов, но для их применения нужно обладать некоторыми знаниями. Поэтому, рекомендуется воздержаться от данного способа похудения.
					.mode__detail-header <span>Быстрые</span> (простые)
					.mode__detail
						.mode__detail-left
							.mode__detail-desc
								p Резкий выброс сахара в крови  плохо сказывается в процессе похудения. В крови повысится инсулин, который превратит сахар в жир.
						.mode__detail-right
							.mode__detail-desc
								p Сладости: сахар и мёд,  выпечка, фрукты Напитки: газированные сладкие напитки, соки. Крупы: Манка, белый рис, продукты из мягких сортов пшеницы.
					.mode__detail-header <span>Медленные</span> (сложные)
					.mode__detail
						.mode__detail-left
							.mode__detail-desc
								p Долго перевариваются, сахар повышается постепенно и тратится на выработку энергии, а не откладываются в жир.
						.mode__detail-right
							.mode__detail-desc
								p Еда: Овощи, зелень. Крупы: гречневая, овсяная каша, бурый рис, макароны из твердых сортов пшеницы, хлеб из муки грубого помола.

					.mode__content-desc
						p Нужно отказаться от  быстрых и ограничить употребление медленных углеводов.
					.mode__content-title Белки
					.mode__content-desc
						p Белки  Белки – основа мышечной ткани. При снижении веса мышцы разрушаются. Именно поэтому нельзя ограничывать потребление белков.
					.mode__detail
						.mode__detail-left
							.mode__detail-header <span>Употреблять</span>
							.mode__detail-desc
								p Белок яйца, рыба, морепродукты, курица, индейка, телятина, обезжиренный творог.
						.mode__detail-right
							.mode__detail-header <span>Отказаться</span>
							.mode__detail-desc
								p Свинина, баранина.
					.mode__content-title Жиры
					.mode__content-desc
						p Помогают всасываться витаминам и минералам в кишечнике.
					.mode__detail
						.mode__detail-left
							.mode__detail-header <span>Насыщенные кислоты</span>
							.mode__detail-desc
								p Приводит к повышению холестерина, который откладывается на стенках кровеносных сосудов.
								p Сало, жирное мясо, внутренний животный мир, масло, маргарин, сыры и т.д.
						.mode__detail-right
							.mode__detail-header <span>Ненасыщенные кислоты</span>
							.mode__detail-desc
								p Являются незаменимыми. Они не образуются  в организме, синтезируются в минимальном количестве.
								p Рыбий жир, льняное, оливковое и подсолнечное масло.
					.mode__content-desc 
						p Жиры употреблять во время диеты – обязательно. Основная часть – из ненасыщенных жиров.
					.mode__content-title Как рассчитать соотношение БЖУ для человека?
					ul.mode__detail-list
						li.mode__detail-item 1. Углеводов: минимум - 50 гр.
						li.mode__detail-item 2. Белков: 1гр на 1 кг веса, можно больше.
						li.mode__detail-item 3. Жиров: 20-30% от общей калорийности.
						li.mode__detail-item 4. Всё индивидуально и зависит от склонности к полноте или худобе.
					.mode__content-title Примерный расчет БЖУ для похудения
					.mode__content-desc 
						p Для похудения в день нужно употреблять 1500 ккал.
						p Ежедневно будет уходить 100-200 грамм веса, при условии, что углеводов - 20%.
					.mode__content-title Оптимальное соотношение
					ul.mode__detail-list
						li.mode__detail-item Белков - 50%
						li.mode__detail-item Жиров - 30%
						li.mode__detail-item Углеводов - 20%
			li.mode__content-item.active
				.mode__content-block
					.mode__content-title Правильный рацион для поддержания организма.
					.mode__content-desc
						p Правильная пища способствует поддержанию высокой работоспособности человека, помогает сохранить здоровье, стабильный вес и за счёт этого увеличивает продолжительность жизни.
						p Ниже представлены каноны здорового питания для поддержания здоровья организма:
					ul.mode__canons-list
						li.mode__canons-item
							.mode__canons-title 1. Разнообразие
							.mode__canons-desc Приёмы пищи должны быть регулярными, состоять из растительных и животных продуктов. Принимать пищу нужно небольшими порциями, а еда должна содержать все витамины и минералы.
						li.mode__canons-item
							.mode__canons-title 2. Питательность
							.mode__canons-desc Приёмы пищи должны быть регулярными, состоять из растительных и животных продуктов. Принимать пищу нужно небольшими порциями, а еда должна содержать все витамины и минералы.
						li.mode__canons-item
							.mode__canons-title 3. Пятиразовое питание
							.mode__canons-desc Приёмы пищи должны быть регулярными, состоять из растительных и животных продуктов. Принимать пищу нужно небольшими порциями, а еда должна содержать все витамины и минералы.
						li.mode__canons-item
							.mode__canons-title 4. Не торопитесь
							.mode__canons-desc Приёмы пищи должны быть регулярными, состоять из растительных и животных продуктов. Принимать пищу нужно небольшими порциями, а еда должна содержать все витамины и минералы.
						li.mode__canons-item
							.mode__canons-title 5. Тщательно пережевывайте еду
							.mode__canons-desc Приёмы пищи должны быть регулярными, состоять из растительных и животных продуктов. Принимать пищу нужно небольшими порциями, а еда должна содержать все витамины и минералы.
						li.mode__canons-item
							.mode__canons-title 6. Скажи Нет сухомятке
							.mode__canons-desc Приёмы пищи должны быть регулярными, состоять из растительных и животных продуктов. Принимать пищу нужно небольшими порциями, а еда должна содержать все витамины и минералы.
						li.mode__canons-item
							.mode__canons-title 7. Овощи и фрукты
							.mode__canons-desc Приёмы пищи должны быть регулярными, состоять из растительных и животных продуктов. Принимать пищу нужно небольшими порциями, а еда должна содержать все витамины и минералы.
						li.mode__canons-item
							.mode__canons-title 8. Вода
							.mode__canons-desc Приёмы пищи должны быть регулярными, состоять из растительных и животных продуктов. Принимать пищу нужно небольшими порциями, а еда должна содержать все витамины и минералы.
						li.mode__canons-item
							.mode__canons-title 9. Завтрак и обед
							.mode__canons-desc Приёмы пищи должны быть регулярными, состоять из растительных и животных продуктов. Принимать пищу нужно небольшими порциями, а еда должна содержать все витамины и минералы.
						li.mode__canons-item
							.mode__canons-title 10. Ужин
							.mode__canons-desc Приёмы пищи должны быть регулярными, состоять из растительных и животных продуктов. Принимать пищу нужно небольшими порциями, а еда должна содержать все витамины и минералы.
						li.mode__canons-item
							.mode__canons-title 11. Кисломолочные продукты
							.mode__canons-desc Приёмы пищи должны быть регулярными, состоять из растительных и животных продуктов. Принимать пищу нужно небольшими порциями, а еда должна содержать все витамины и минералы.
						li.mode__canons-item
							.mode__canons-title 12. Свежесваренная еда
							.mode__canons-desc Приёмы пищи должны быть регулярными, состоять из растительных и животных продуктов. Принимать пищу нужно небольшими порциями, а еда должна содержать все витамины и минералы.
						li.mode__canons-item
							.mode__canons-title 13. Разгрузочные дни
							.mode__canons-desc Приёмы пищи должны быть регулярными, состоять из растительных и животных продуктов. Принимать пищу нужно небольшими порциями, а еда должна содержать все витамины и минералы.
						li.mode__canons-item
							.mode__canons-title 14. Витамины
							.mode__canons-desc Приёмы пищи должны быть регулярными, состоять из растительных и животных продуктов. Принимать пищу нужно небольшими порциями, а еда должна содержать все витамины и минералы.
						li.mode__canons-item
							.mode__canons-title 15. Кушайте только тогда, когда голодны
							.mode__canons-desc Приёмы пищи должны быть регулярными, состоять из растительных и животных продуктов. Принимать пищу нужно небольшими порциями, а еда должна содержать все витамины и минералы.
						li.mode__canons-item
							.mode__canons-title 16. Рацион в 40 и 50 лет
							.mode__canons-desc Приёмы пищи должны быть регулярными, состоять из растительных и животных продуктов. Принимать пищу нужно небольшими порциями, а еда должна содержать все витамины и минералы.
					.mode__content-desc
						p Здоровое питание - это не диета, а образ жизни.
					.mode__content-title Спортивное питание
					.mode__content-desc
						p Спортивное питание - это не химия. Оно не чрезмерно вредное, как вы думаете. Обычно, куда вреднее еда, которую мы употребляем: чипсы, соль, алкоголь, колбасы и прочие прелести.
					.mode__table
						.mode__table-head.mode-table__head
							.mode__table-fruit.mode-table__col Фрукты
							.mode__table-kkal.mode-table__col Ккал
							.mode__table-proteins.mode-table__col Белки
							.mode__table-fats.mode-table__col Жиры
							.mode__table-carb.mode-table__col Углеводы
						.mode__table-body
							ul.mode__table-list
								li.mode__table-item
									.mode__table-fruit.mode-table__col Банан
									.mode__table-kkal.mode-table__col 89.0
									.mode__table-proteins.mode-table__col 1.5
									.mode__table-fats.mode-table__col 0.1
									.mode__table-carb.mode-table__col 21.0
								li.mode__table-item
									.mode__table-fruit.mode-table__col Яблоко
									.mode__table-kkal.mode-table__col 37.0
									.mode__table-proteins.mode-table__col 0.2
									.mode__table-fats.mode-table__col 0.3
									.mode__table-carb.mode-table__col 0.8
								li.mode__table-item
									.mode__table-fruit.mode-table__col Мандарин
									.mode__table-kkal.mode-table__col 40.0
									.mode__table-proteins.mode-table__col 0.8
									.mode__table-fats.mode-table__col 0.3
									.mode__table-carb.mode-table__col 8.1
								li.mode__table-item
									.mode__table-fruit.mode-table__col Виноград
									.mode__table-kkal.mode-table__col 65.0
									.mode__table-proteins.mode-table__col 0.6
									.mode__table-fats.mode-table__col 0.2
									.mode__table-carb.mode-table__col 15.0
								li.mode__table-item
									.mode__table-fruit.mode-table__col Апельсин
									.mode__table-kkal.mode-table__col 38.0
									.mode__table-proteins.mode-table__col 0.9
									.mode__table-fats.mode-table__col 0.2
									.mode__table-carb.mode-table__col 8.1
			li.mode__content-item
			li.mode__content-item