.parameters.page
	.title Мои параметры
	.parameters__data
		.data
			.data__left
				ul.data__list
					li.data__item
						a.data__link
							.data__key Грудь
							.data__value
								span.data__value-number 120
								span.data__value-text см.
					li.data__item
						a.data__link
							.data__key Бедра
							.data__value
								span.data__value-number 45
								span.data__value-text см.
					li.data__item
						a.data__link
							.data__key Ягодицы
							.data__value
								span.data__value-number 90
								span.data__value-text см.
					li.data__item
						a.data__link
							.data__key Рост
							.data__value
								span.data__value-number 160
								span.data__value-text см.
			.data__right
				ul.data__list
					li.data__item
						a.data__link
							.data__key Шея
							.data__value
								span.data__value-number 23
								span.data__value-text см.
					li.data__item
						a.data__link
							.data__key Бицепс
							.data__value
								span.data__value-number 12
								span.data__value-text см.
					li.data__item
						a.data__link
							.data__key Талия
							.data__value
								span.data__value-number 56
								span.data__value-text см.
					li.data__item
						a.data__link
							.data__key Икры
							.data__value
								span.data__value-number 34
								span.data__value-text см.
					li.data__item
						a.data__link
							.data__key Вес
							.data__value
								span.data__value-number 56
								span.data__value-text кг.
		a.data__history-link(href="history.html") История параметров
	.parameters__index
		.index__round
			.index__mass
				.index__key Имт
				.index__value 18,9
	.parameters__advice
		ul.advice__list
			li.advice__item.advice__item--little
				.advice__img-wrapp
					img.advice__img(src="./img/parameters/weight_little.png")
				span.advice__title Недостаток массы
			li.advice__item.advice__item--normal.current
				.advice__img-wrapp
					img.advice__img(src="./img/parameters/weight_normal-hover.png")
				span.advice__title Нормальный вес
			li.advice__item.advice__item--excess
				.advice__img-wrapp
					img.advice__img(src="./img/parameters/weight_excess.png")
				span.advice__title Избыточный вес
			li.advice__item.advice__item--obesity
				.advice__img-wrapp
					img.advice__img(src="./img/parameters/weight_obesity.png")
				span.advice__title Ожирение
	.page__btns
		a.page__btn(href="#") Рекомендации