.parameters-popup
	.parameters-popup__title Объем груди
	ul.parameters-popup__list
		li.parameters-popup__item
			a.parameters-popup__link(href="#") 94
		li.parameters-popup__item.prev
			a.parameters-popup__link(href="#") 95
		li.parameters-popup__item.active
			a.parameters-popup__link(href="#") 96
		li.parameters-popup__item.prev
			a.parameters-popup__link(href="#") 97
		li.parameters-popup__item
			a.parameters-popup__link(href="#") 99
		li.parameters-popup__item
			a.parameters-popup__link(href="#") 100
		li.parameters-popup__item
			a.parameters-popup__link(href="#") 101
		li.parameters-popup__item
			a.parameters-popup__link(href="#") 102
	.parameters-popup__btns
		a.parameters-popup__btn.parameters-popup__btn--cancel(href="#" id="cancel-training-no") Отмена
		a.parameters-popup__btn(href="#" id="cancel-training-ok") Ок