.rewiews.page
	.title Отзывы
	ul.rewiews__list
		li.rewiews__item
			.rewiews__left
				.rewiews__avatar.img-cover(style="background-image: url(./img/avatar-master.jpg);")
					img.rewiews__avatar-pic.img-fake(src="./img/avatar-master.jpg")
			.rewiews__right
				.rewiews__name Анастасия Авилова
				.rewiews__desc
					p Я - Очень сильно поправилась за беременность. Дошло до того, что не узнавала себя в зеркале. Точнее отказывалась признать, что это я. Когда дочке было два года, открылся первый Колизей и мы всей семьей пришли в зал. И я наконец-то стала собой )) 
					p И главное мое достижение - я стала лицензированным инструктором программы Zum-ba(r) Fitnes и стала работать в любимом клубе.
		li.rewiews__item
			.rewiews__left
				.rewiews__avatar.img-cover(style="background-image: url(./img/avatar-master.jpg);")
					img.rewiews__avatar-pic.img-fake(src="./img/avatar-master.jpg")
			.rewiews__right
				.rewiews__name Анастасия Авилова
				.rewiews__desc
					p Я - Очень сильно поправилась за беременность. Дошло до того, что не узнавала себя в зеркале. Точнее отказывалась признать, что это я. Когда дочке было два года, открылся первый Колизей и мы всей семьей пришли в зал. И я наконец-то стала собой )) 
					p И главное мое достижение - я стала лицензированным инструктором программы Zum-ba(r) Fitnes и стала работать в любимом клубе.
		li.rewiews__item
			.rewiews__left
				.rewiews__avatar.img-cover(style="background-image: url(./img/avatar-master.jpg);")
					img.rewiews__avatar-pic.img-fake(src="./img/avatar-master.jpg")
			.rewiews__right
				.rewiews__name Анастасия Авилова
				.rewiews__desc
					p Я - Очень сильно поправилась за беременность. Дошло до того, что не узнавала себя в зеркале. Точнее отказывалась признать, что это я. Когда дочке было два года, открылся первый Колизей и мы всей семьей пришли в зал. И я наконец-то стала собой )) 
					p И главное мое достижение - я стала лицензированным инструктором программы Zum-ba(r) Fitnes и стала работать в любимом клубе.
		li.rewiews__item
			.rewiews__left
				.rewiews__avatar.img-cover(style="background-image: url(./img/avatar-master.jpg);")
					img.rewiews__avatar-pic.img-fake(src="./img/avatar-master.jpg")
			.rewiews__right
				.rewiews__name Анастасия Авилова
				.rewiews__desc
					p Я - Очень сильно поправилась за беременность. Дошло до того, что не узнавала себя в зеркале. Точнее отказывалась признать, что это я. Когда дочке было два года, открылся первый Колизей и мы всей семьей пришли в зал. И я наконец-то стала собой )) 
					p И главное мое достижение - я стала лицензированным инструктором программы Zum-ba(r) Fitnes и стала работать в любимом клубе.