.rule.page
	.title Правила использования
	ul.rule__list
		li.rule__item
			.rule__title Общее положение
			.rule__desc
				p Устанавливая данное Приложение(см. определение далее), Вы принимаете условия его использования(условия использования Приложения). Просим внимательно ознакомиться с ними перед установкой и/или принятием.
		li.rule__item
			.rule__title Определения
			.rule__desc
				p Приложение означает программное обеспечение, предоставляемое авиакомпанией easyJet для предложения услуг, связанных с easy-Jet, услугами easyJet и уу партнеров, предназначенное для использования на устройствах с операционной системой Apple iOS, а так же любые обновления и иное программное обеспечение или жокументацию, обеспечивающие использование Приложения.
		li.rule__item
			.rule__title Защита данных
			.rule__desc
				p Устанавливая данное Приложение(см. определение далее), Вы принимаете условия его использования(условия использования Приложения). Просим внимательно ознакомиться с ними перед установкой и/или принятием.
		li.rule__item
			.rule__title Колизей
			.rule__desc
				p Устанавливая данное Приложение(см. определение далее), Вы принимаете условия его использования(условия использования Приложения). Просим внимательно ознакомиться с ними перед установкой и/или принятием.
		li.rule__item
			.rule__title Правила и условия перевозки пассажиров
			.rule__desc
				p Устанавливая данное Приложение(см. определение далее), Вы принимаете условия его использования(условия использования Приложения). Просим внимательно ознакомиться с ними перед установкой и/или принятием.
