.stock.page
	.title Акции
	ul.stock__list
		li.stock__item
			a.stock__link(href="stock-detail.html")
				.stock__img.img-cover(style="background-image: url(../img/stock/stock-1.jpg);")
					.stock__img-bg
						.stock__content
							.stock__title Фитнес вдвоем
							.stock__desc 
								.stock__desc-left
									span.stock__desc-first в
									span.stock__desc-second 2
								.stock__desc-right
									.stock__desc-text раза дешевле!
							.stock__duration Действительна до 1 июня 2017
		li.stock__item
			a.stock__link(href="stock-detail.html")
				.stock__img.img-cover(style="background-image: url(../img/stock/stock-2.jpg);")
					.stock__img-bg
						.stock__content
							.stock__title Фитнес вдвоем
							.stock__desc 
								.stock__desc-left
									span.stock__desc-first в
									span.stock__desc-second 2
								.stock__desc-right
									.stock__desc-text раза дешевле!
							.stock__duration Действительна до 1 июня 2017
		li.stock__item
			a.stock__link(href="stock-detail.html")
				.stock__img.img-cover(style="background-image: url(../img/stock/stock-3.jpg);")
					.stock__img-bg
						.stock__content
							.stock__title Фитнес вдвоем
							.stock__desc 
								.stock__desc-left
									span.stock__desc-first в
									span.stock__desc-second 2
								.stock__desc-right
									.stock__desc-text раза дешевле!
							.stock__duration Действительна до 1 июня 2017
		li.stock__item
			a.stock__link(href="stock-detail.html")
				.stock__img.img-cover(style="background-image: url(../img/stock/stock-1.jpg);")
					.stock__img-bg
						.stock__content
							.stock__title Фитнес вдвоем
							.stock__desc 
								.stock__desc-left
									span.stock__desc-first в
									span.stock__desc-second 2
								.stock__desc-right
									.stock__desc-text раза дешевле!
							.stock__duration Действительна до 1 июня 2017