.stock-detail.page
	.title Акции
	.stock-detail__block.img-cover(style="background-image: url(../img/stock/stock-1.jpg);")
		.stock__img-bg
			img.stock__img-pic.img-fake(src="./img/stock/stock-1.jpg")
		.stock-detail__content
			.stock__title Фитнес вдвоем
			.stock__desc 
				.stock__desc-left
					span.stock__desc-first в
					span.stock__desc-second 2
				.stock__desc-right
					.stock__desc-text раза дешевле!
			.stock__duration Действительна до 1 июня 2017
	.stock-detail__desc Покупайте карты вдвоем и получайте скидку до 50 %. За подробностями обращайтесь в отдел продаж клуба. Поддерживайте друг друга в стремлении к совершенству фигуры.
	.stock-detail__btns
		.btn Купить по акции