.team.page
	.title Наша команда
	.chart__club-point
		a.chart__club-point__link(href="#") Все клубы
	ul.team__list
		li.team__item
			.team__avatar.img-cover(style="background-image: url(./img/avatar.jpg);")
				img.team__avatar-pic.img-fake
			.team__name Евгения Романова
			.team__rating Рейтинг — 4,5
			.team__desc 
				p Инструктор тренажерного зала, персональный тренер, стрейчинг, инструктор по питанию.
				p Лицензированный специалист Zumbar INSTRUKTOR программы Zumbar Fitness.
				p Выпускница: Фитнес-школа ОЛИМПИЯ ЛАЙФ Челябинск, FirstFitnessSchool - Первая школа фитнеса Москва.
			.team__stars
				ul.team__stars-list
					li.team__stars-item
						img.team__stars-img(src="./img/decor/star-gold.png")
					li.team__stars-item
						img.team__stars-img(src="./img/decor/star-gold.png")
					li.team__stars-item
						img.team__stars-img(src="./img/decor/star-gold.png")
					li.team__stars-item
						img.team__stars-img(src="./img/decor/star.png")
					li.team__stars-item
						img.team__stars-img(src="./img/decor/star.png")
		li.team__item
			.team__avatar.img-cover(style="background-image: url(./img/avatar.jpg);")
				img.team__avatar-pic.img-fake
			.team__name Евгения Романова
			.team__rating Рейтинг — 4,5
			.team__desc 
				p Инструктор тренажерного зала, персональный тренер, стрейчинг, инструктор по питанию.
				p Лицензированный специалист Zumbar INSTRUKTOR программы Zumbar Fitness.
				p Выпускница: Фитнес-школа ОЛИМПИЯ ЛАЙФ Челябинск, FirstFitnessSchool - Первая школа фитнеса Москва.
			.team__stars
				ul.team__stars-list
					li.team__stars-item
						img.team__stars-img(src="./img/decor/star-gold.png")
					li.team__stars-item
						img.team__stars-img(src="./img/decor/star-gold.png")
					li.team__stars-item
						img.team__stars-img(src="./img/decor/star-gold.png")
					li.team__stars-item
						img.team__stars-img(src="./img/decor/star.png")
					li.team__stars-item
						img.team__stars-img(src="./img/decor/star.png")