.tickets.page
	.title Мои абонементы
	ul.tickets__list
		li.tickets__item
			.tickets__header
				a.tickets__title(href="#") Стройные ножки
				a.tickets__extend(href="#") Продлить
			.tickets__body
				.tickets__left
					.tickets__visit-value
						.tickets__visit-round(style="animation-delay: -30s")
						.tickets__visit-number 7
					.tickets__visit-title Посещений осталось
				.tickets__right
					.tickets__date
						.tickets__date-title Действует
						.tickets__date-value до 12.14.2017
		li.tickets__item
			.tickets__header
				a.tickets__title(href="#") 8 Тренировок
				a.tickets__extend(href="#") Без абонемента
			.tickets__body
				.tickets__left
					.tickets__visit-value
						.tickets__visit-round(style="animation-delay: -100s")
						.tickets__visit-number 8
					.tickets__visit-title Посещений осталось
				.tickets__right
					.tickets__date
						.tickets__date-title Действует
						.tickets__date-value до 12.14.2017
		li.tickets__item
			.tickets__header
				a.tickets__title(href="#") Стройные ножки
				a.tickets__extend(href="#") Продлить
			.tickets__body
				.tickets__left
					.tickets__visit-value
						.tickets__visit-round(style="animation-delay: -50s")
						.tickets__visit-number 5
					.tickets__visit-title Посещений осталось
				.tickets__right
					.tickets__date
						.tickets__date-title Действует
						.tickets__date-value до 12.14.2017
		li.tickets__item
			.tickets__header
				a.tickets__title(href="#") Стройные ножки
				a.tickets__extend(href="#") Продлить
			.tickets__body
				.tickets__left
					.tickets__visit-value
						.tickets__visit-round(style="animation-delay: -60s")
						.tickets__visit-number 4
					.tickets__visit-title Посещений осталось
				.tickets__right
					.tickets__date
						.tickets__date-title Действует
						.tickets__date-value до 12.14.2017
	.tickets__btns
		a.tickets__btn.btn Купить абонемент
