.tips-detail.page
	.title Акции
	.tips-detail__block.img-cover(style="background-image: url(../img/tips/tips_2.jpg);")
		.tips__img-bg
			img.tips__img-pic.img-fake(src="./img/tips/tips_2.jpg")
		.tips-detail__content
			.tips__title Всего 6% посетительниц <br>фитнес-клубов питаются правильно 
	.tips-detail__desc 
		p В начале года, когда многие стремятся начать заниматься спортом многие стремятся когда многие спортом многие стремятся начать заниматься спортом многие стремятся начать заниматься спортом когда многие начать заниматься спортом многие стремятся когда многие заниматься спортом
		
		p В начале года, когда многие стремятся начать заниматься спортом многие стремятся когда многие спортом многие стремятся начать заниматься спортом многие стремятся начать заниматься спортом когда многие начать заниматься спортом многие стремятся когда многие заниматься спортом

		p В начале года, когда многие стремятся начать заниматься спортом многие стремятся когда многие спортом многие стремятся начать заниматься спортом многие стремятся начать заниматься спортом когда многие начать заниматься спортом многие стремятся когда многие заниматься спортом