.tips.page
	.title Советы
	.tips__tabs
		ul.tips__tabs-list
			li.tips__tabs-item
				a.tips__tabs-link(href="#") Статьи
			li.tips__tabs-item.active
				a.tips__tabs-link(href="#") Видео
	.tips__content
		ul.tips__content-list
			li.tips__content-item
				ul.content-tips__list
					li.content-tips__item.img-cover(style="background-image: url(../img/tips/tips_1.jpg);")
						a.content-tips__link(href="tips-detail.html")
							.content-tips__desc Фитнес-трекер: <br>лаборатория образа жизни
					li.content-tips__item.img-cover(style="background-image: url(../img/tips/tips_2.jpg);")
						a.content-tips__link(href="tips-detail.html")
							.content-tips__desc Всего 6% посетительниц <br>фитнес-клубов питаются правильно 
					li.content-tips__item.img-cover(style="background-image: url(../img/tips/tips_3.jpg);")
						a.content-tips__link(href="tips-detail.html")
							.content-tips__desc Как фитнес меняет фигуру <br>на самом деле
					li.content-tips__item.img-cover(style="background-image: url(../img/tips/tips_4.jpg);")
						a.content-tips__link(href="tips-detail.html")
							.content-tips__desc Витамины и фитнес: <br>какие комплексы принимать
			li.tips__content-item.active
				ul.content-tips__list(id="listVideo")
					li.content-tips__item.content-tips__item--video
						iframe.content-tips__video(src="https://www.youtube.com/embed/kPlffl1g90s")
						.content-tips__desc Фитнес-трекер: <br>лаборатория образа жизни
					li.content-tips__item.content-tips__item--video
						iframe.content-tips__video(src="https://www.youtube.com/embed/kPlffl1g90s")
						.content-tips__desc Всего 6% посетительниц <br>фитнес-клубов питаются правильно
					li.content-tips__item.content-tips__item--video
						iframe.content-tips__video(src="https://www.youtube.com/embed/kPlffl1g90s")
						.content-tips__desc Как фитнес меняет фигуру <br>на самом деле
					li.content-tips__item.content-tips__item--video
						iframe.content-tips__video(src="https://www.youtube.com/embed/kPlffl1g90s")
						.content-tips__desc Витамины и фитнес: <br>какие комплексы принимать