.trainer.page
	.title Тренажеры
	ul.trainer__list
		li.trainer__item
			a.trainer__link(href="workout-inner.html")
				.trainer__left
					.trainer__square
						.trainer__value 1
				.trainer__right
					.trainer__desc Велотренажер
		li.trainer__item
			a.trainer__link(href="workout-inner.html")
				.trainer__left
					.trainer__square
						.trainer__value 2
				.trainer__right
					.trainer__desc Беговая дорожка
		li.trainer__item
			a.trainer__link(href="workout-inner.html")
				.trainer__left
					.trainer__square
						.trainer__value 3
				.trainer__right
					.trainer__desc Степпер
		li.trainer__item
			a.trainer__link(href="workout-inner.html")
				.trainer__left
					.trainer__square
						.trainer__value 4
				.trainer__right
					.trainer__desc Гребной тренажер
		li.trainer__item
			a.trainer__link(href="workout-inner.html")
				.trainer__left
					.trainer__square
						.trainer__value 5
				.trainer__right
					.trainer__desc Тяга
		li.trainer__item
			a.trainer__link(href="workout-inner.html")
				.trainer__left
					.trainer__square
						.trainer__value 6
				.trainer__right
					.trainer__desc Климбер
		li.trainer__item
			a.trainer__link(href="workout-inner.html")
				.trainer__left
					.trainer__square
						.trainer__value 7
				.trainer__right
					.trainer__desc Скамья для разгибания
		li.trainer__item
			a.trainer__link(href="workout-inner.html")
				.trainer__left
					.trainer__square
						.trainer__value 8
				.trainer__right
					.trainer__desc Райдер
		