.workout.page
	.title Растяжка
	ul.workout__list
		li.workout__item
			a.workout__link(href="exercise.html")
				.workout__left
					.workout__img
						img.workout__img-pic(src="" alt="")
				.workout__right
					.workout__desc 30 с. Расслабляющая поза
		li.workout__item
			a.workout__link(href="exercise.html")
				.workout__left
					.workout__img
						img.workout__img-pic(src="" alt="")
				.workout__right
					.workout__desc 30 с. Растяжки
		li.workout__item
			a.workout__link(href="exercise.html")
				.workout__left
					.workout__img
						img.workout__img-pic(src="" alt="")
				.workout__right
					.workout__desc 30 с. Сгибание бедра
		li.workout__item
			a.workout__link(href="exercise.html")
				.workout__left
					.workout__img
						img.workout__img-pic(src="" alt="")
				.workout__right
					.workout__desc 30 с. Расслабляющая поза
		li.workout__item
			a.workout__link(href="exercise.html")
				.workout__left
					.workout__img
						img.workout__img-pic(src="" alt="")
				.workout__right
					.workout__desc 30 с. Растяжки
		li.workout__item
			a.workout__link(href="exercise.html")
				.workout__left
					.workout__img
						img.workout__img-pic(src="" alt="")
				.workout__right
					.workout__desc 30 с. Сгибание бедра
