.workout.page
	.title Тренировки
	ul.workout__list
		li.workout__item
			a.workout__link(href="#")
				.workout__left
					.workout__img
						img.workout__img-pic(src="")
				.workout__right
					.workout__desc Все упражнения
		li.workout__item
			a.workout__link(href="#")
				.workout__left
					.workout__img
						img.workout__img-pic(src="")
				.workout__right
					.workout__desc Тренажеры
		li.workout__item
			a.workout__link(href="#")
				.workout__left
					.workout__img
						img.workout__img-pic(src="")
				.workout__right
					.workout__desc Руки
		li.workout__item
			a.workout__link(href="#")
				.workout__left
					.workout__img
						img.workout__img-pic(src="")
				.workout__right
					.workout__desc Спина
		li.workout__item
			a.workout__link(href="#")
				.workout__left
					.workout__img
						img.workout__img-pic(src="")
				.workout__right
					.workout__desc Грудь
		li.workout__item
			a.workout__link(href="#")
				.workout__left
					.workout__img
						img.workout__img-pic(src="")
				.workout__right
					.workout__desc Плечи
