

.about__tabs {
	margin-bottom: 55px;

	@include mid {
		margin-bottom: 50px;
	}

	@include phones {
		margin-bottom: 40px;
	}
}

.about__tabs-list {
	font-size: 0;
}

.about__tabs-item {
	@include inline-block(top);
	width: 33.3%;
	font-size: 18px;
	border: 1px solid $grey;
	border-right: none;

	&:last-child {
		border: 1px solid $grey;
	}

	&:nth-child(3) {
		border: 1px solid $grey;
	}

	&:nth-child(4) {
		width: 50%;
	}

	&:nth-child(5) {
		width: 50%;
	}

	&.active {
		color: $dark;
		background: $gold;
		border: 1px solid $gold;
	}
}

.about__tabs-link {
	display: block;
	padding: 8px 0;
	text-transform: uppercase;
	font-size: 18px;
	color: $grey;

	@include mid {
		font-size: 14px;
	}

	@include phones {
		padding: 6px 0;
		font-size: 12px;
	}
}

.about__content-item {
	display: none;

	&.active {
		display: block;
	}
}

.about__logo {
	margin-bottom: 112px;
	padding-top: 72px;

	@include mid {
		margin-bottom: 40px;
		padding-top: 32px;
	}

	@include phones {
		margin-bottom: 20px;
		padding-top: 16px;
	}
}

.about__desc {

	p {
		margin-bottom: 28px;
		font-size: 28px;
	}

	@include mid {
		p {
			margin-bottom: 20px;
			font-size: 20px;
		}
	}

	@include phones {
		p {
			margin-bottom: 16px;
			font-size: 16px;
		}
	}
}

.about__training-item {
	margin-bottom: 52px;
	@extend %clearfix;

	&:nth-child(2n) {
		.about__training-right {
			@extend %clearfix;
		}

		.about__training-img {
			float: right;
		}
	}

	@include mid {
		margin-bottom: 46px;
	}

	@include mid {
		margin-bottom: 40px;
	}
}

.about__training-left {
	float: left;
	width: 50%;
}

.about__training-right {
	float: left;
	width: 50%;
}

.about__training-img {
	width: 250px;
	height: 250px;
	background-color: $grey;
	@include border-radius(50%);

	@include mid {
		width: 200px;
		height: 200px;
	}

	@include phones {
		width: 140px;
		height: 140px;
	}

	@include mini {
		width: 120px;
		height: 120px;
	}
}

.about__training-wrapp {
    padding-top: 28px;
	text-align: left;

	@include mid {
		padding-top: 20px;
	}

	@include phones {
		padding-top: 8px;
	}
}

.about__training-title {
	margin-bottom: 28px;
	font-size: 24px;
	text-transform: uppercase;

	@include mid {
		margin-bottom: 22px;
		font-size: 18px;
	}

	@include phones {
		margin-bottom: 16px;
		font-size: 12px;
	}
}

.about__training-desc {
	font-size: 18px;

	@include mid {
		font-size: 14px;
	}

	@include phones {
		font-size: 12px;
	}
}