.account-popup {
	// display: none;
	top: 50%;
	left: 0;
	right: 0;
	width: 580px;
	margin: auto;
	@include transform(translateY(-50%));
	text-align: center;
	background: $dark;
	z-index: 10;

	@include phones {
		left: 15px;
		right: 15px;
		width: auto;
	}
}

.account-popup--attention,
.account-popup--point {

	.account-popup__btn {
		@include inline-block(top);
		width: 50%;
	}
}

.account-popup--attention.open {
	display: block;
	position: fixed;
}

.account-popup--cancel.open {
	display: block;
	position: fixed;
}

.account-popup--error.open {
	display: block;
	position: fixed;
}

.account-popup__content {
	padding: 64px 64px;

	@include phones {
		padding: 40px;
	}
}

.account-popup__title {
	font-size: 34px;

	@include phones {
		font-size: 18px;
	}
}

.account-popup__desc {
	margin-top: 60px;
	font-size: 24px;
	font-family: 'sf_ui__textlight';

	@include phones {
		margin-top: 30px;
		font-size: 14px;
	}
}

.account-popup__btns {
	text-align: center;
}

.account-popup__btn {
	display: block;
    padding: 20px 0;
	font-size: 30px;
	text-transform: uppercase;
	color: $gold;
	border-top: 1px solid $grey;

	@include phones {
		padding: 10px 0;
		font-size: 18px;

	}
}

.account-popup__btn--cancel {
	color: $grey;
	border-right: 1px solid $grey;
}

.account-popup--point {
	z-index: 10;
}

.account-popup__point-link {
	color: #fff;
}