.burger {
	position: absolute;
	top: 0;
	left: -9999px;
	bottom: 0;
	width: 480px;
	width: 75%;
    padding-top: 120px;
    background: $dark;
    z-index: 2;

    @include mid {
    	padding-top: 100px;
    }

    @include phones {
    	padding-top: 68px;
    }
}

.burger.open {
	left: 0;
}

.burger__close {
	display: inline-block;
    position: absolute;
    top: 28px;
    left: 34px;
	width: 30px;
	height: 30px;
	font-size: 0;

	&:before, &:after {
		content: "";
		position: absolute;
		top: 50%;
		right: 0;
		width: 34px;
		height: 2px;
		background: #fff;
	}

	&:before {
		@include transform(rotate(45deg));
	}

	&:after {
		@include transform(rotate(-45deg));
	}

	@include mid {
		left: 12px;
		width: 28px;
		height: 28px;

		&:before, &:after {
			width: 28px;
			height: 1px;
		}
	}

	@include phones {
		left: 12px;
		width: 22px;
		height: 22px;

		&:before, &:after {
			width: 22px;
			height: 1px;
		}
	}
}

.burger__list {
	position: relative;
	margin-bottom: 72px;

	&:last-child {
		&:after {
			content: none;
		}
	}

	&:after {
		content: "";
		position: absolute;
		bottom: -36px;
		left: 88px;
		right: 0;
		height: 1px;
		background: url(../img/decor/separator.png)no-repeat;
		background-size: contain;
	}

	@include phones {
		margin-bottom: 50px;

		&:after {
			bottom: -26px;
			left: 48px;
		}
	}
}

.burger__item {
	position: relative;
	margin-bottom: 12px;

	&:last-child {
		margin-bottom: 0;
	}

	&.curent {
		.burger__link {
			color: $gold;

			&:before {
			    content: "";
			    position: absolute;
			    width: 7px;
			    height: 100%;
			    top: 0;
			    left: 0;
			    right: 0;
			    background: $gold;

			    @include phones {
					width: 3px;
				}
			}
		}
	}

	@include mid {
		margin-bottom: 10px;
	}

	@include phones {
		margin-bottom: 6px;
	}
}

.burger__link {
	margin-left: 88px;
	font-size: 34px;
	color: #fff;

	@include mid {
		margin-left: 60px;
		font-size: 24px;
	}

	@include phones {
		margin-left: 48px;
		font-size: 16px;
	}
}