

.buy-form {
	margin-bottom: 60px;

	@include mid {
		margin-bottom: 50px;
	}

	@include phones {
		margin-bottom: 40px;
	}
}

.buy-form__desc {
	width: 85%;
	margin: 32px auto 74px;
	font-size: 24px;

	@include mid {
		margin: 26px auto 66px;
		font-size: 20px;
	}

	@include phones {
		margin: 0 auto 40px;
		font-size: 12px;
	}
}

.buy-form__wrapp {
	margin-bottom: 25px;

	&:last-child {
		margin-bottom: 0;
	}
}

.buy-form__input {
	width: 100%;
	padding: 26px 36px;
	text-transform: uppercase;
	font-size: 30px;
	color: #fff;
	border: 1px solid #fff;
	background: transparent;
	outline-color: $gold;

	@include mid {
		padding: 22px 32px;
		font-size: 24px;
	}

	@include phones {
		padding: 18px 28px;
		font-size: 16px;
	}
}