.chart {

}

.chart__club-point {
	position: relative;
	margin-bottom: 38px;
}

.chart__club-point__link {
	position: relative;
	font-size: 30px;
	color: #fff;

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		right: -50px;
		width: 29px;
		height: 16px;
		@include transform(translateY(-50%));
		background: url(../img/decor/history_title-toggle.png)no-repeat;
		background-size: contain;
		@include transition(.5s);
	}
	
	@include phones {
		margin-bottom: 36px;
		font-size: 16px;

		&:after {
			right: -26px;
			width: 14px;
			height: 8px;
		}
	}
}

.chart__tabs {
	margin-bottom: 40px;
}

.chart__tabs-list {
	font-size: 0;
}

.chart__tabs-item {
	@include inline-block(top);
	width: 50%;
	font-size: 18px;

	&:last-child {
		display: block;
		width: 100%;
	}

	&.active {
		.chart__tabs-link {
			border: 1px solid $gold;
			background: $gold;
		}
	}
}

.chart__tabs-link {
	display: block;
	padding: 8px 0;
	text-transform: uppercase;
	color: $grey;
	border: 1px solid $grey;

	@include phones {
		font-size: 12px;
	}
}

.chart__content-item {
	display: none;

	&.active {
		display: block;
	}
}

.chart-date {
	margin-bottom: 20px;
}

.chart-date__list {
	// margin: 0 -250px;
	font-size: 0;
    // text-align: justify;
    // line-height: 0;

	// .nav__list:after {
	//     content: "";
	//     display: inline-block;
	//     width: 100%;
	//     height: 0;
	// }

	.slick-list {
		overflow: visible!important;
	}
}

.chart-date__item {
	@include inline-block(middle);
	font-size: 18px;

	&.slick-current {

		.chart-date__link {
			color: $gold;
		}
	}
}

.chart-date__link {
	font-size: 28px;
	color: $grey;

	@include phones {
		font-size: 16px;
	}
}

.chart-training__item {

	&:last-child {
		.chart-training__link {
			border-bottom: none;
		}
	}

	&.active {
		margin: 0 -30px;
		background: $light;

		.chart-training__link {
			padding: 14px 30px;

			&:after {
				right: 30px;
			}
		}
	}
}

.chart-training__link {
	position: relative;
	display: block;
    padding: 14px 0;
	text-align: left;
	border-bottom: 1px solid $grey;
	outline: none;

	&:after {
		content: "";
		position: absolute;
		top: 32%;
		right: 0;
		width: 29px;
		height: 16px;
		@include transform(translateY(-50%));
		background: url(../img/decor/history-toggle.png)no-repeat;
		background-size: contain;
		@include transition(.5s);
	}

	@include phones {
		font-size: 16px;

		&:after {
			top: 38%;
			width: 14px;
			height: 10px;
		}
	}
}

.chart-training__title {
	margin-bottom: 4px;
	font-size: 30px;
	color: #fff;

	@include phones {
		font-size: 16px;
	}
}

.chart-training__date {
	position: relative;
	padding-left: 32px;
	font-size: 24px;
	color: #fff;

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		width: 20px;
		height: 20px;
		@include transform(translateY(-50%));
		background: url(../img/decor/time.png)no-repeat;
		background-size: contain;
	}

	@include phones {
		padding-left: 22px;
		font-size: 12px;

		&:before {
			width: 14px;
			height: 14px;
		}
	}
}

.chart-training__wrapp {
	display: none;
}

.chart-training__content {
	padding: 18px 36px 0 74px;
	text-align: left;

	@include phones {
		padding: 18px 36px 0 50px;
	}
}

.chart-training__name {
	text-transform: uppercase;
	font-size: 24px;
	color: #fff;

	@include phones {
		font-size: 16px;
	}
}

.chart-training__duration {
    margin-bottom: 16px;

    @include phones {
		font-size: 12px;
	}
}

.chart-training__desc {
	margin-bottom: 26px;
	font-size: 24px;

	@include phones {
		font-size: 16px;
	}
}

.chart-training__master {
	margin-bottom: 22px;
	@extend %clearfix;
}

.master__left {
	float: left;
	width: 25%;

	@include phones {
		width: 30%;
	}
}

.master__right {
	float: right;
	width: 75%;
	text-align: left;

	@include phones {
		width: 70%;
	}
}

.master__avatar {
	width: 100px;
	height: 100px;
	@include border-radius(50%);
	background-color: $grey;

	@include phones {
		width: 60px;
		height: 60px;
	}
}

.master__name {
	margin-bottom: 16px;
	text-transform: uppercase;
	font-size: 24px;

	@include phones {
		font-size: 16px;
	}
}

.master__desc {
	margin-bottom: 18px;

	@include phones {
		font-size: 12px;
	}
}

.master__skills {
	@include phones {
		font-size: 12px;
	}
}