.history-popup,
.account-popup--point {
	display: none;
	top: 50%;
	left: 0;
	right: 0;
	@include transform(translateY(-50%));
	background: $light;
	// background: #fff;
	@include box-shadow(0 1px 10px rgba(0,0,0, .25));

	&.open {
		display: block;
		position: fixed;
	}
}

.histor-popup__date-list,
.account-popup__point-list {
	position: relative;
	margin-bottom: 40px;

	&:before, &:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 86px;
	}

	&:before {
		top: 0;
		background: linear-gradient(top, rgba(55, 55, 55, 1) 25%, rgba(55, 55, 55, 0.5) 100%);
	}

	&:after {
		bottom: 0;
		background: linear-gradient(bottom, rgba(55, 55, 55, 1) 25%, rgba(55, 55, 55, 0.5) 100%);
	}

	@include phones {

		&:before, &:after {
			height: 50px;
		}
	}
}

.histor-popup__date-item,
.account-popup__point-item {
	padding: 14px 0px 20px 0;
	text-align: center;
	font-size: 32px;

	&:last-child {
		padding: 14px 0px 14px 0;
	}
	
	&.prev {
		padding: 11px 0px 15px 0;
		text-align: center;
		font-size: 34px;

		.histor-popup__date-month {
			padding: 15px 100px;
		}
	}

	&.active {
		padding: 14px 0px 20px 0;
		font-size: 36px;
		background: $dark;

		.histor-popup__date-month {
			padding: 15px 108px;
		}
	}

	@include phones {
		padding: 8px 0px 10px 0;
		font-size: 18px;

		&:last-child {
			padding: 8px 0px 8px 0;
		}
		
		&.prev {
		    padding: 8px 0px 12px 0;
			font-size: 20px;

			.histor-popup__date-month {
				padding: 0 70px;
			}
		}

		&.active {
		    padding: 10px 0px 14px 0;
			font-size: 22px;

			.histor-popup__date-month{
				padding: 0 70px;
			}
		}
	}
}

.histor-popup__date-month {
	padding: 15px 94px;

	@include phones {
		padding: 0 70px;
	}
}

.history-popup__btns {
	@extend %clearfix;
}

.history-popup__btn {
	@include inline-block(top);
	width: 50%;
    padding: 20px 0;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	color: $gold;
	border-top: 1px solid $grey;

	@include phones {
		padding: 10px 0;
		font-size: 18px;

	}
}

.history-popup__btn--cancel {
	color: $grey;
	border-right: 1px solid $grey;
}