.wrapper--index {

	&:after {
		height: 150px;
	}

	@include phones {
		&:after {
			height: 77px;
		}
	}
}

.index {
	padding-bottom: 23px;
}

.index__logo {
	margin: 92px 0 124px;

	@include mid {
		margin: 92px 0 100px;
	}

	@include phones {
		margin: 70px 0 46px;
	}
}

.logo__link {
	display: inline-block;
	width: 334px;
	// height: 286px;

	@include phones {
		width: 70%;
	}
}

.logo__img {
	max-width: 100%;
}

.logo__text {
	font-size: 0;
}

.index__barcode {
	display: none;
	position: relative;
	width: 430px;
	height: 232px;
	margin: 0 auto;
	padding: 23px;
	// background: #fff;

	@include mid {
		width: 340px;
		height: 184px;
	}

	@include phones {
		width: 206px;
    	height: 112px;
		padding: 0 10px;
	}
}

.index__barcode--buy {
	display: block;
	padding: 23px 0;
	background: url(../img/decor/barcode.png)no-repeat;
	background-size: contain;

	@include phones {
		padding: 18px 0;
	}
}

.barcode {
	position: relative;
	top: 50%;
	// left: 0;
	// right: 0;
	// bottom: 0;
	// margin: auto;
	max-width: 100%;
	@include transform(translateY(-50%));
}

.index__barcode-title {
	margin-top: 8px;
	font-size: 36px;

	@include mid {
		margin-top: 2px;
		font-size: 26px;
	}

	@include phones {
		margin-top: 0;
		font-size: 16px;
	}
}

.index__barcode-link {
	display: inline-block;
	margin-top: 26px;
	text-transform: uppercase;
	font-size: 30px;
	color: $gold;

	@include mid {
		margin-top: 20px;
		font-size: 22px;
	}

	@include phones {
		margin-top: 12px;
		font-size: 14px;
	}
}

.footer--index {
	margin-top: -150px;
	text-align: center;

	@include phones {
		margin-top: -77px;
	}
}

.index__footer {
	position: fixed;
	left: 30px;
	right: 30px;
	bottom: 0;
	padding-bottom: 16px;
	@extend %clearfix;

	@include phones {
		left: 15px;
		right: 15px;
		padding-bottom: 8px;
	}
}

.footer-left {
	float: left;
}

.footer-right {
	float: right;
}

.footer-center {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 18%;
	right: 18%;
	bottom: 0;
	margin: auto;
}

.footer-center__link {
	display: inline-block;
	margin-top: 57px;
	font-size: 18px;
	color: $grey;

	@include phones {
		margin-top: 16px;
		font-size: 12px;
	}
}

.footer-left__link,
.footer-right__link {
	display: inline-block;
	width: 88px;
	height: 88px;
	background: $gold;
	@include border-radius(50%);

	@include mid {
		width: 60px;
		height: 60px;
	}

	@include phones {
		width: 48px;
		height: 48px;
	}
}

.footer-right__link {
	display: inline-block;
	background: $green;
	@include border-radius(50%);
}

.footer-left__link {
	background: url(../img/icons/share.png)no-repeat;
	background-size: contain;
}

.footer-right__link {
	background: url(../img/icons/call.png)no-repeat;
	background-size: contain;
}