.stock__list {
	margin: 0 -30px;

	@include mid {

	}

	@include phones {
		margin: 0 -15px;
	}
}

.stock__item {
    padding: 25px 30px 0 30px;
    background: $grey;

    &:last-child {
	    padding: 25px 30px 25px;
    }

    @include mid {
    	padding: 20px 25px 0 25px;

    	&:last-child {
   		    padding: 20px 25px;
	    }
    }

    @include phones {
    	padding: 10px 15px 0 15px;

    	&:last-child {
   		    padding: 10px 15px;
	    }
    }
}

.stock__link {
	position: relative;
	display: block;
	color: #fff;
	background-color: $light;
}

.stock__img {
	width: 100%;
	// height: 250px;

	// @include mid {
	// 	height: 220px;
	// }

	// @include phones {
	// 	height: 160px;
	// }
}

.stock__img-bg {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, .6);
}

.stock__content {
	// position: absolute;
	// top: 0;
	// left: 0;
	// right: 0;
	// bottom: 0;
	padding: 40px 0 16px 0;

	@include mid {
		padding: 34px 0 16px 0;
	}

	@include phones {
		padding: 20px 0 14px 0;
	}
}

.stock__title {
	font-size: 36px;

	@include mid {
		font-size: 30px;
	}

	@include phones {
		font-size: 24px;
	}
}

.stock__desc {
	margin-bottom: 25px;
	color: $gold;
	@extend %clearfix;

	@include mid {
		margin-bottom: 22px;
	}

	@include phones {
		margin-bottom: 18px;
	}
}

.stock__desc-left {
	float: left;
	width: 43%;
	text-align: right;
	line-height: 1;
}

.stock__desc-right {
	float: left;
	width: 57%;
	padding-left: 12px;
	text-align: left;
	line-height: 1.2;
}

.stock__desc-first {
	margin-right: 12px;
	font-size: 50px;

	@include mid {
		font-size: 36px;
	}

	@include phones {
		font-size: 30px;
	}
}

.stock__desc-second {
	font-size: 94px;

	@include mid {
		font-size: 76px;
	}

	@include phones {
		font-size: 60px;
	}
}

.stock__desc-text {
	width: 240px;
	font-size: 36px;

	@include mid {
		width: 180px;
		font-size: 30px;
	}

	@include phones {
		width: 150px;
		font-size: 24px;
	}
}

.stock__duration {
	font-size: 18px;

	@include mid {
		font-size: 14px;
	}

	@include phones {
		font-size: 12px;
	}
}