.tickets__list {
	margin: 0 -30px;

	@include phones {
		margin: 0 -15px;
	}
}

.tickets__item {
	padding: 25px 30px 0 30px;
    background: #686868;

    &:last-child {
	    padding: 25px 30px 150px;
    }

    @include phones {
    	padding: 10px 15px 0 15px;

    	&:last-child {
   		    padding: 10px 15px;
	    }
    }
}

.tickets__header {
    padding: 16px 30px;
    position: relative;
    background: #2c2c2c;
    @extend %clearfix;

    @include phones {
	    padding: 8px 10px;
    }
}

.tickets__title {
	float: left;
	text-transform: uppercase;
	font-size: 28px;
	color: $gold;

	@include phones {
		font-size: 16px;
	}
}

.tickets__extend {
	float: right;
    margin-top: 12px;
	color: #fff;

	@include phones {
		margin-top: 2px;
		font-size: 12px;
	}
}

.tickets__body {
    padding: 20px 30px 20px;
    background: #373737;
    @extend %clearfix;

    @include phones {
	    padding: 10px 10px;
    }
}

.tickets__left,
.tickets__right {
	float: left;
	width: 50%;
	padding-left: 34px;
	text-align: left;

	@include phones {
	    padding-left: 0;
	    // text-align: center;
    }
}

.tickets__left {
	position: relative;

	&:after {
		content: "";
		position: absolute;
		top: -12px;
		right: 0;
		width: 1px;
		height: 84px;
		background: $grey;
	}

	@include phones {
		&:after {
			top: -5px;
			height: 50px;
		}
	}
}

.tickets__visit-value {
	position: relative;
	@include inline-block(middle);
	text-align: center;
}

// .tickets__visit-round {
// 	width: 60px;
// 	height: 60px;
// 	border-left: 1px solid $gold;
// 	border-right: 1px solid $grey;
// 	border-top: 1px solid $gold;
// 	border-bottom: 1px solid $grey;
// 	@include border-radius(50%);
// }


.tickets__visit-round {
	position: relative;
	width: 60px;
	height: 60px;
	@include border-radius(50%);
	background: $gold;
	background-image: linear-gradient(to right, transparent 50%, $grey 0);

	&:before {
		content: "";
		display: block;
		margin-left: 50%;
		height: 100%;
		@include transform-origin(left);
		@include border-radius(0 100% 100% 0 / 50%);
		background: inherit;
		background: $gold;
		animation: spin 50s linear infinite,
				   bg 100s step-end infinite;
	   	animation-play-state: paused;
		animation-delay: inherit;
	}

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		display: block;
		width: 58px;
		height: 58px;
		margin: auto;
		@include transform(translateY(-50%));
		@include border-radius(50%);
		background: $light;
	}

	@include phones {
		width: 40px;
		height: 40px;

		&:after {
			width: 38px;
			height: 38px;
		}
	}
}

@keyframes spin {
	to { @include transform(rotate(.5turn)); }
}

@keyframes bg {
	50% { background: $grey; }
}

.tickets__visit-number {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	font-size: 36px;
	color: $gold;
	@include transform(translateY(-50%));

	@include phones {
		font-size: 24px;
	}
}

.tickets__visit-title {
	@include inline-block(middle);
	width: 130px;
	margin-left: 14px;
	text-transform: uppercase;

	@include phones {
		width: 80px;
		margin-left: 0;
		font-size: 12px;
	}
}

.tickets__calendar {

}

.tickets__date {
	position: relative;
	margin-top: 4px;
	padding: 0 0 0 68px;
	text-transform: uppercase;

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		width: 48px;
	    height: 50px;
	    @include transform(translateY(-50%));
	    background: url(../img/decor/calendar.png) no-repeat;
	    background-size: contain; 
	}

	@include phones {
		// display: inline-block;
		font-size: 12px;
		padding: 0 0 0 48px;

		&:before {
			width: 24px;
		    height: 25px;
		}
	}
}

.tickets__btns {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	// margin: 0 -30px;
}