.rewiews {
	padding-bottom: 122px;

	&.pb {
		padding-bottom: 528px;
	}

	@include mid {
		padding-bottom: 100px;
	}

	@include phones {
		padding-bottom: 56px;

		&.pb {
			padding-bottom: 278px;
		}
	}
}

.rewiews__item {
	padding: 45px 0 45px;
	border-bottom: 1px solid $grey;
	@extend %clearfix;

	&:last-child {
		border-bottom: none;
	}

	@include mid {
		padding: 40px 0 40px;
	}

	@include phones {
		padding: 26px 0 26px;
	}
}

.rewiews__left {
	float: left;
	width: 24%;
}

.rewiews__right {
	float: left;
	width: 76%;
	padding-right: 20px;
	text-align: left;

	@include mid {
		padding-right: 16px;
	}

	@include phones {
		padding-right: 10px;
	}
}

.rewiews__avatar {
	width: 100px;
	height: 100px;
	@include border-radius(50%);
	background-color: $grey; 

	@include mid {
		width: 80px;
		height: 80px;
	}

	@include phones {
		width: 60px;
		height: 60px;
	}
}

.rewiews__name {
	margin-bottom: 8px;
	text-transform: uppercase;
	font-size: 24px;

	@include mid {
		font-size: 18px;
	}

	@include phones {
		font-size: 14px;
	}
}

.rewiews__desc {
	font-size: 18px;

	@include mid {
		font-size: 14px;
	}

	@include phones {
		font-size: 12px;
	}
}

.rewiews__add {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0 30px 30px 30px;
	background: $dark;

	@include phones {
		padding: 0 15px 15px 15px;

		&.up {
			bottom: 256px;
		}
	}
}

.rewiews__add-link,
.rewiews__form-submit {
	display: block;
	padding: 27px 38px;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
    color: $gold;
    background: $dark;
    border: 1px solid $gold;
    z-index: 1;

    @include mid {
    	padding: 22px 30px;
    	font-size: 24px;
    }

    @include phones {
    	padding: 10px 0;
    	font-size: 16px;
    }
}

.rewiews__form {
	display: none;
	padding-top: 35px;
	text-align: left;
	border-top: 1px solid #fff;

	&.open {
		display: block;
	}

	@include mid {
		padding-top: 26px;
    }

    @include phones {
    	padding-top: 20px;
    }
}

.rewiews__form-title {
	margin-bottom: 38px;
	text-transform: uppercase;
	font-size: 24px;
	color: #fff;

	@include mid {
		margin-bottom: 26px;
    	font-size: 18px;
    }

    @include phones {
    	margin-bottom: 20px;
    	font-size: 14px;
    }
}

.rewiews__form-textarea {
	width: 100%;
	height: 264px;
	margin-bottom: 35px;
	padding: 20px;
	font-size: 18px;
	color: #fff;
	background: transparent;
	resize: none;

	@include mid {
		height: 180px;
		margin-bottom: 26px;
		font-size: 14px;
	}

	@include phones {
		height: 140px;
		margin-bottom: 20px;
		font-size: 12px;
	}

}